Repository girlscript/winter-of-contributing, pull requests merged in 2021-11, with the labels that each got.

#6996 3.1.9.2_Doubly_Linked_List_Memory_Representation_Doc
  DSA/3.1 Linked List/09. Doubly Linked List/3.1.9.2_DLL_Memory_Representation_Documentation.md
Labels: documentation, GWOC21, DSA

#7071 Machine learning
  Machine_Learning/Dimensionality_Reduction_&_Neural_Networks/ML_6.6_Feedforward_Neural_Networks_(D).md
Labels: documentation, GWOC21, approved, Machine Learning

#6993 Java: String Comparison
  Java/String Handling/String_comparison/README.md
  Java/String Handling/String_comparison/String_comparison.md
Labels: documentation, GWOC21, Java

#7032 Java:24.4 Character Extractions Documentation
  Java/String Handling/Character_extractions/Character Extraction.md
Labels: documentation, GWOC21

#6861 String Length
  Java/String Handling/String_length/String_length.md
Labels: documentation, GWOC21, Video, Audio, Java

#6672 Number System Conversion Programs in C++
  C_CPP/Number System/Conversion-Programs/Decimal-to-other-base-conversion.md
  C_CPP/Number System/Conversion-Programs/Other-base-to-Decimal-Conversion.md
  C_CPP/Number System/readme.md
Labels: documentation, GWOC21, C/CPP

#7021 C_CPP : Forward List ( STL ) in document form
  C_CPP/Data Structures/Standard Template Library/Forward_List.md
  C_CPP/Data Structures/Standard Template Library/readme.md
Labels: documentation, GWOC21, C/CPP

#7101 C cpp
  C_CPP/Fundamentals/C VS CPP/C-vs-Cpp.md
  C_CPP/Fundamentals/readme.md
Labels: documentation, GWOC21, C/CPP

#7084 Firebase authentication
  Android_Development/Flutter/Firebase/authentication.md
Labels: GWOC21

#6883 C/CPP: XOR Linked List Documentation
  C_CPP/Data Structures/Linked List/XOR Linked List/README.md
  C_CPP/Data Structures/Linked List/readme.md
Labels: documentation, GWOC21, C/CPP

#7107 Added Knights Tour Problem
  C_CPP/Algorithmic Approaches/Backtracking/Knights_Tour_problem.md
  C_CPP/Algorithmic Approaches/Backtracking/readme.md
Labels: documentation, GWOC21, C/CPP

#7099 Frontend web development html css js
  Web_Development/Javascript/4.Programming Fundamentals/Control-Statements.md
  Web_Development/Javascript/4.Programming Fundamentals/README.md
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS

#7092 ML_7_8_Gaussian_Mixture_Models_(D)_7051
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_8_Gaussian_Mixture_Models_(D).md
Labels: documentation, GWOC21, approved, Machine Learning

#5588 Data Science With Python : Local Convolutional Features with Unsupervised Training for Image Retrieval
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/Images/Convolutional_neural_network.png
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/Images/Euclidean_equation.png
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/Images/Medical_image_processing.png
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/Images/retrieve_similar_Image.png
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/Images/similarity.png
  Datascience_With_Python/Computer Vision/Tutorials/Image Retrieval/README.md
Labels: GWOC21, approved, DSWP, Audio

#7033 Explain Everything related to draw.io #6812
  Open_Source/6.Popular_Projects/6.73_drawIO.md
  Open_Source/6.Popular_Projects/6.74_wireframe.md
Labels: documentation, GWOC21, ready to merge, Open Source

#6977 Create 6.94_PyTorch.md
  Open_Source/6.Popular_Projects/6.94_PyTorch.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7029 MyCollab file added
  Open_Source/6.Popular_Projects/6.84_MyCollab.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7042 Open Source : 6.95 Explain everything related to ```Ant Design```
  Open_Source/6.Popular_Projects/6.95_AntDesign.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7121 Fixes #5904 | added DLL insertion operation video
  DSA/3.1 Linked List/10. Operations on Doubly Linked List/3.1.10.1_DLL_Insertion_Operation_Video.md
Labels: GWOC21, Video, DSA

#7118 08.01 Heads Up Notification in android
  Android_Development_With_Java/8  Android Notifications/08.01 Heads Up Notification in android.md
Labels: documentation, GWOC21, Android-Dev-Java

#7041 Android Java: 03.07 Intent Filter in android
  Android_Development_With_Java/3  Activity and Intents/3.07 Intent Filter in android.md
Labels: documentation, GWOC21, Android-Dev-Java

#6904 Added 10.06 Paint Application.md
  Android_Development_with_Kotlin/10.Custom Views/10.06 Paint Application.md
Labels: documentation, GWOC21, Android-Dev-Kotlin

#6947 Centering Items using CSS Flexbox #6906
  Web_Development/FrontEnd/Centering items using CSS Flexbox/README.md
Labels: documentation, GWOC21

#7115 Data Science with Python: Overfitting #6360
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/README.md
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/lasso_reg_output1.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/lasso_reg_output2.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/overfitting_KNN.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/overfitting_classification.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/overfitting_output1.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/overfitting_output2.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/images/overfitting_regression.png
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/l1_regularization.py
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/overfitting.py
  Datascience_With_Python/Machine Learning/Tutorials/Overfitting/requirements.txt
Labels: documentation, GWOC21, approved, DSWP

#7102 Modified Call Screen and Call Model
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/models/callmodel.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/screens/CallScreen.dart
Labels: documentation, GWOC21, Android-Dev-Flutter

#7077 DP || Bellman Ford Algorithm to solve Single Source Shortest Path problem
  C_CPP/Algorithmic Approaches/Dynamic/BellmanFordAlgorithm.md
  C_CPP/Algorithmic Approaches/Dynamic/readme.md
Labels: documentation, GWOC21, C/CPP

#7177 Create ML_7_4_XGBoost_(D).ipynb
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_4_XGBoost_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7079 Valueof, concat, join and case change methods.
  Java/String Handling/Important_String_Methods/String_Methods_Valueof_concat_join_and_case_change_methods.ipynb
Labels: documentation, GWOC21, Assigned, Java

#6676 "string constructor audio"
  Java/String Handling/String_constructors/String_Constructor_Audio.md
Labels: GWOC21, Audio, Java

#7105 Convert Images to Pencil Sketch using OpenCV
  Datascience_With_Python/Computer Vision/Tutorials/Convert Images to Pencil Sketch using OpenCV/README.md
  Datascience_With_Python/Computer Vision/Tutorials/Convert Images to Pencil Sketch using OpenCV/convert_images_to_pencil_sketch_using_OpenCV.ipynb
Labels: documentation, GWOC21, approved, DSWP

#7110 Javascript Iteration Statement
  Web_Development/Javascript/Iteration_Statements/README.md
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS

#7066 Introduction To CSS
  Web_Development/FrontEnd/IntroductionToCSS/IntroductionToCSS.md
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS

#3277 HISTORY OF R LANGUAGE
  DS-R/Readme.md
Labels: documentation

#2473 DS-R: 1.2.DOC History - History of Data Science #140
  Data_Science_R/1 History/1.2 History of Data Science/DOC.md
Labels: documentation, GWOC21, Datascience with R

#7201 2.6_MarkDown_Cheatsheet
  Open_Source/2.Getting_Started_With_Open_Source/2.6_Markdown_CheatSheet.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7195 Explain Everything related to wireframe.cc #6813
  Open_Source/6.Popular_Projects/6.74_wireframe.md
Labels: documentation, GWOC21, ready to merge, Open Source

#2580 DS-R: 2.1.DOC Introduction - What is R? #1053
  Data_Science_R/2 Introduction/2.1 What is R/DOC.md
Labels: documentation, GWOC21, Datascience with R

#2592 DS-R: 3.4.DOC Data & Packages - What are Packages? #1076
  Data_Science_R/3 Data & Packages/3.4 What are Packages/DOC.ipynb
  Data_Science_R/3 Data & Packages/3.4 What are Packages/DOC.md
  Data_Science_R/3 Data & Packages/README.md
Labels: Datascience with R

#6981 Added Audio for Introduction of structure in C
  C_CPP/Structure padding, Union, Enum, & typedef/Audio_Introduction_to_structure.md
  C_CPP/Structure padding, Union, Enum, & typedef/readme.md
Labels: GWOC21, Audio, C/CPP

#7205 #6810 Resolved: Open Source Domain
  Open_Source/6.Popular_Projects/6.71_Wordpress.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7206 Updated README.md
  Open_Source/README.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7210 #6816 Resolved: Open Source Domain
  Open_Source/6.Popular_Projects/6.77_OpenBoard.md
Labels: documentation, GWOC21, Open Source

#5408 GoLang - 8.7 Update DOC.md
  Golang/8 Concurrency/8.2 Goroutines/DOC.md
  Golang/8 Concurrency/8.7 Mutex/DOC.md
Labels: documentation, GWOC21, GoLang

#7199 Created Redesign2.md
  UI_UX/Grocery App Redesign/Redesign2.md
Labels: GWOC21

#7203 React 6.1 -> Multi Page React App
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/Multi Page React App.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/Readme.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/mpa1.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/mpa2.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/mpa3.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/mpa6.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/mpa7.JPG
Labels: documentation, GWOC21, React.js, Frontend Dev React/Angular/Vue

#7211 ML_7_3_LGBM_(D).ipynb
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_3_LGBM_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#5549 Assignment operators in C++
  C_CPP/Fundamentals/Operators & Expressions/Assignment operator in C++.md
  C_CPP/Fundamentals/Operators & Expressions/operators-&-expressions-in-C.md
  C_CPP/Fundamentals/Operators & Expressions/readme.md
Labels: invalid, GWOC21, Audio, C/CPP

#7207 Angular(5.3) -> Getting route information
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 5/Getting_route_info.md
Labels: GWOC21, Frontend with framework, Angular

#7184 Fix #7068: Important methods of String Buffer
  Java/Annonations/Annotation_at_run_time/Documentation.md
  Java/Annonations/Type_annotations/Type Annotations.md
  Java/Control Statements/If Else Blocks/Java If-else blocks.md
  Java/Exception Handling/Catching_Exceptions/Catching_Exception.md
  Java/Exception Handling/Creating_Own_Exception/Creating Own Exception Audio.md
  Java/Exception Handling/Exception_Types/Exception Types documentation.md
  Java/Exception Handling/Throw_Throws_Finally/Throw_Throws_Finally_Audio.md
  Java/Exception Handling/Why_are_exceptions/What are exceptions?.md
  Java/Generics/Ambiguity_and_generic_restrictions/Ambiguity_and_generic_restrictions.md
  Java/Generics/Bounded _types/Bounded_Types.md
  Java/Import/Audio_Assert_Import_Static_Import.md
  Java/Multithreaded Programing/Suspending_Resuming_And_Stopping_Threads/Documentation_suspend_resume_stop.md
  Java/Operators/Assignment and Ternary Operators/Assignment_Ternary_operators.md
  Java/Packages/Defining_Packages/Defining_Packages_Audio.md
  Java/Primitive Data Type/Assets/declaration.png
  Java/Primitive Data Type/Assets/initializing.png
  Java/String Handling/Character_extractions/Character Extraction.md
  Java/String Handling/String Buffer Methods/Important Methods Of String Buffer.md
  Java/String Handling/String_length/String_length.md
Labels: documentation, GWOC21, Java

#7226 ML_6_1_Singular_Value_Decomposition_(D)
  Machine_Learning/Dimensionality_Reduction_&_Neural_Networks/ML_6_1_Singular_Value_Decomposition_(D).ipynb
Labels: documentation, GWOC21, requested changes, Machine Learning

#7133 Frontend web development react angular vue
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/Render Props.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assests/renderProps1.png
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assests/renderProps2.png
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assests/renderProps3.png
Labels: documentation, GWOC21, Frontend Dev React/Angular/Vue

#7212 C_CPP: Overloading Binary Operators Using 'friend' Functions
  C_CPP/OOPs in C++/Operator Overloading/overloading-binary-operator.md
  C_CPP/OOPs in C++/Operator Overloading/readme.md
Labels: documentation, GWOC21, C/CPP

#7234 ML_7_9_Hidden_Markov_Model_(D)_Issue #7006 Machine learning
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/HMM-decoding.jpeg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/HMM-eg.jpeg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/HMM-likelihood-conc.jpeg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/HMM-likelihood.jpeg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/Title.jpg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/markov-chain--process.png
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/markovchain.jpeg
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_9_Hidden_Markov_Model_(D).md
Labels: documentation, GWOC21, approved, Machine Learning

#7119 DSA 1.2.5.1 Approximation Algorithms - Documentation #1783
  DSA/1.2 Analysis of Algorithms/5. Approximation Algorithms/1.2.5.1 Approximation Algorithms.md
Labels: documentation, GWOC21, DSA

#6856 Dijkstra's Algorithm
  C_CPP/Data Structures/Graph/Dijkstra's Algorithm/Dijkstra's.md
  C_CPP/Data Structures/Graph/readme.md
Labels: documentation, GWOC21, C/CPP

#7227 Android Java: 05.02 Android External Storage
  Android_Development_With_Java/5  Android storage/5.02 Android External Storage .md
Labels: GWOC21, Android-Dev-Java

#7231 Open Source : 6.76 Explain everything related to gimp
  Open_Source/6.Popular_Projects/6.76_gimp.md
Labels: documentation, GWOC21, Open Source

#6803 Basic questions of greedy algorithm
  C_CPP/Algorithmic Approaches/Greedy/Greedy algorithms questions.md
  C_CPP/Algorithmic Approaches/Greedy/readme.md
Labels: GWOC21

#7070 format() method in Python
  Python/Python format() method/README.md
  Python/Python format() method/format()_method.md
Labels: documentation, GWOC21, Python

#6518 Python: modules
  Python  Modules/pythonModules.txt
  Python/Modules/Python_Modules/Python_Modules.md
  Python/Python_Modules/pythonModules.md
Labels: GWOC21, Python, Audio

#7252 ML 7.5 Catboost (D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_5_Catboost_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7253 Bootstrap Grids #5725
  Web_Development/FrontEnd/Bootstrap Grids/README.md
Labels: documentation, GWOC21

#7127 C_CPP: Overloading Unary Operators Using 'friend' Functions
  C_CPP/OOPs in C++/Operator Overloading/overloading-unary-operator.md
  C_CPP/OOPs in C++/Operator Overloading/readme.md
Labels: documentation, GWOC21, C/CPP

#7261 Middle_Element_Of_Singly_Linked_List_C++.md
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/Middle_Element_Of_Singly_Linked_List_C++.md
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/readme.md
Labels: documentation, GWOC21, review needed, C/CPP

#7222 Added Audio for Passing Parameters to a function
  C_CPP/Fundamentals/Functions & Recursion and its types/Audio_passing_parameters_to_a_function.md
  C_CPP/Fundamentals/Functions & Recursion and its types/readme.md
Labels: GWOC21, Audio, review needed, C/CPP

#7126 C_CPP : Interpolation Search in Document Form
  C_CPP/Algorithmic Approaches/Searching/Interpolation_Search.md
  C_CPP/Algorithmic Approaches/readme.md
Labels: documentation, GWOC21, C/CPP

#7215 Introduction to figma plugin Autoflow and material design icon
  UI_UX/Introduction_to_Figma/Part_5_Introduction_to_figma_plugin_Autoflow_and_material_design_icon.md
Labels: GWOC21

#5826 Added video of creating own custom exception
  Java/Exception Handling/Creating_Own_Exception/Creating_Custom_Exception.md
Labels: GWOC21, Video

#7270 Explain everything related to SuiteCRM
  Open_Source/6.Popular_Projects/6.82_SuiteCRM.md
Labels: documentation, GWOC21, ready to merge, Open Source, Database

#7258 Create 6.90_Elasticsearch.md
  Open_Source/6.Popular_Projects/6.90_Elasticsearch.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7173 Responsive Typography
  Web_Development/FrontEnd/Responsive Typography/Responsive Typography.md
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS

#7283 ML_7_5_Catboost_(V)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_5_Catboost_(V).md
Labels: GWOC21, Video, Machine Learning

#7190 Data Science with Python: Multi-agent reinforcement learning
  Datascience_With_Python/Machine Learning/Tutorials/Multi-agent reinforcement learning/Multi_agent_reinforcement_learning.ipynb
  Datascience_With_Python/Machine Learning/Tutorials/Multi-agent reinforcement learning/README.md
Labels: documentation, GWOC21, approved, DSWP

#6799 Data Science with Python: Poisson Distribution #6361
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/Images/poisson_dist_viz_1.png
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/Images/poisson_dist_viz_2.png
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/Images/poisson_dist_viz_3.png
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/Images/poisson_dist_viz_4.png
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/README.md
  Datascience_With_Python/Statistics/Tutorials/Poisson Distribution/poisson_distribution.ipynb
Labels: documentation, GWOC21, approved, DSWP

#7290 Android Java: 1.3.1 Customizing android studio
  Android_Development_With_Java/1  Introduction/1.3.1 Customize Android Studio UI.md
Labels: documentation, GWOC21, Android-Dev-Java

#7289 CN CheatSheet
  Interview_Preparation/CN CheatSheet-Notes.md
Labels: documentation, GWOC21, Interview Prep

#7294 ML 7.7 : Latent Variables (A) #7047
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/Latent_variables.png
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_7_Latent_Variables_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7291 Opensource: 6.85 Explained everything on XMind
  Open_Source/6.Popular_Projects/6.85_XMind.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7286 Introduction to Figma Part 11 - Left Panel tools
  UI_UX/Introduction_to_Figma/Part_11_Figma_Left_Panel_Tools.md
Labels: documentation, GWOC21, UI/UX

#7236 [DSA] feat: Circular Queue Concept and Implementation
  DSA/4.2 Queues/5. Types of Queues (Priority, Circular, Deque)/4.2.5.3_Circular_Queue.md
  DSA/4.2 Queues/5. Types of Queues (Priority, Circular, Deque)/README.md
Labels: documentation, GWOC21, DSA

#7273 Create 3.1.9.1_Doubly_Linked_List_Introduction_Audio.md
  DSA/3.1 Linked List/09. Doubly Linked List/3.1.9.1_Doubly_Linked_List_Introduction_Audio.md
Labels: GWOC21, Audio

#7114 added documentation
  DSA/2.2 Searching & Sorting Algorithms/Odd_Even_Sort_Algorithm.md
Labels: documentation, GWOC21, DSA

#7074 [DSA]: Linked List:C++:Odd Even Linked List
  DSA/3.1 Linked List/15. Miscellaneous Problems/3.1.15.5_Odd_Even_Linked_List.md
Labels: GWOC21, DSA

#7214 DLL_Searching_Audio
  DSA/3.1 Linked List/10. Operations on Doubly Linked List/3.1.10.3_DLL_Searching_Audio.md
Labels: GWOC21, Audio, DSA

#7287 Doubly Linked List Deletion Operation Video
  DSA/3.1 Linked List/10. Operations on Doubly Linked List/3.1.10.2_DLL_Deletion_Operation_Video.md
Labels: GWOC21, Video, DSA

#6975 DSA 3.2 Greedy Algorithms-Readme
  DSA/3.2 Greedy Algorithms/ README.md
Labels: documentation, GWOC21, DSA

#7271 m-coloring Problem
  C_CPP/Algorithmic Approaches/Backtracking/m-coloring/mColoring.cpp
  C_CPP/Algorithmic Approaches/Backtracking/m-coloring/readme.md
  C_CPP/Algorithmic Approaches/Backtracking/m-coloring/theory.md
  C_CPP/Algorithmic Approaches/Backtracking/readme.md
Labels: documentation, GWOC21, C/CPP

#7326 6.81_GNUCash.md
  Open_Source/6.Popular_Projects/6.81_GNUCash.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7321 Opensource: 6.72 Explain everything related to chart.js
  Open_Source/6.Popular_Projects/6.72_chartJS.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7319 Open Source : 6.88 Explain everything related to TaskJuggler #6826
  Open_Source/6.Popular_Projects/6.88_TaskJuggler.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7263 React 6.3 -> Good Coding Practices
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/Good Coding Practices.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/folder_structure.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/gcp_example1.JPG
  Frontend_Web_Development_React_Angular_Vue/React/Week 6/assets/gcp_example2.JPG
Labels: documentation, GWOC21, Frontend Dev React/Angular/Vue

#7172 Added message screen for whats app clone Flutter
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/assets/whatsapp_Back.png
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/components/own_message.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/components/reply_message.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/screens/ChatScreen.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/screens/conversation.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/lib/screens/home_page.dart
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/pubspec.lock
  Android_Development/Flutter/Flutter_project/03_whatsapp_clone/pubspec.yaml
Labels: GWOC21

#7108 Python: Python Datetime Module
  Python/Python_Datetime/Python_Datetime.ipynb
  Python/Python_Datetime/README.md
Labels: documentation, GWOC21, Python

#7277 Python: OOP-Inheritance #567
  Python/OOP-class/OOP-inheritance/README.md
Labels: GWOC21, Python, Audio

#6946 Python
  Python/Advanced_Function_Lambda/Lambda-574-Thumbnail.png
  Python/Advanced_Function_Lambda/README.md
Labels: documentation, GWOC21, Python, Video, Audio

#7132 Android development with kotlin
  Android_Development_with_Kotlin/14. Storage/14.05 Room Database.md
Labels: documentation, GWOC21, requested changes, Android-Dev-Kotlin, Database

#7322 Doubly Linked List Traversing Video
  DSA/3.1 Linked List/10. Operations on Doubly Linked List/3.1.10.4_DLL_Traversing_Video.md
Labels: GWOC21, Video, DSA

#7325 DSA 1.2.5.1 Approximation Algorithms - Video #1785
  DSA/1.2 Analysis of Algorithms/5. Approximation Algorithms/DSA_1.2.5.1_Approximation_Algorithm_Video.md
Labels: GWOC21, Video, DSA

#6049 Data Science with Python : Reinforcement Learning
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Picture1.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Picture2.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Picture3.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Picture4.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Picture5.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/Images/Reinforcement_learning_diagr.png
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/README.md
  Datascience_With_Python/Machine Learning/Videos/Reinforcement Learning/RL-GWOC-Presentation.pdf
Labels: GWOC21, Video, approved, DSWP

#7373 ML 6.4: Perceptron (D)_6608
  Machine_Learning/Dimensionality_Reduction_&_Neural_Networks/ML_6_4_Perceptron_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7378 ML 7.2: Adaboost (D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_2_Adaboost_(D).md
Labels: documentation, GWOC21, requested changes, Machine Learning

#7096 Program for matrix multiplication of 2-D array in c
  C_CPP/Data Structures/Array/Matrix_multiplication/Matrix_multiplication.md
  C_CPP/Data Structures/Array/readme.md
Labels: documentation, GWOC21, C/CPP

#7324 Create 3.2.22_Graph_Coloring_Problem_Audio.md
  DSA/3.2 Greedy Algorithms/22. Graph Coloring/3.2.22_Graph_Coloring_Problem_Audio.md
Labels: Audio, DSA

#7293 Movie Ticket Pricing System
  Datascience_With_Python/Machine Learning/Projects/Movie Ticket Pricing System/Images/case  diagram.webp
  Datascience_With_Python/Machine Learning/Projects/Movie Ticket Pricing System/Images/class diagram.png
  Datascience_With_Python/Machine Learning/Projects/Movie Ticket Pricing System/README.md
  Datascience_With_Python/Machine Learning/Projects/Movie Ticket Pricing System/movie_ticket_pricing_system.ipynb
Labels: documentation, GWOC21, approved, DSWP

#7285 UI UX
  UI_UX/Barber Time App design/Appointment.png
  UI_UX/Barber Time App design/Barber-shop-details.png
  UI_UX/Barber Time App design/Booking-Appointment.png
  UI_UX/Barber Time App design/Home-screen-details.png
  UI_UX/Barber Time App design/Optional-screenshot.png
  UI_UX/Barber Time App design/Payment-success-transaction-history.png
  UI_UX/Barber Time App design/Payment.png
  UI_UX/Barber Time App design/Profile.png
  UI_UX/Barber Time App design/Splash-Login-Signup-pages.png
  UI_UX/Barber Time App design/Typography.png
  UI_UX/Barber Time App design/barbertime.md
  UI_UX/Barber Time App design/color-scheme.png
  UI_UX/Barber Time App design/figma_logo.png
  UI_UX/Barber Time App design/iconography.png
Labels: documentation, GWOC21, Video, Audio

#6731 Issue #3646
  Cyber_Security/Week_4/Cybersecurity 4.6 Vigenère Cipher #3646.md
Labels: documentation, GWOC21, Cyber Security

#7410 Machine learning
  Machine_Learning/Reinforcement_Learning/Assets/DQN_(V).png
  Machine_Learning/Reinforcement_Learning/ML_4_8_Implement DQNs_(V).md
Labels: GWOC21, Video, approved, Machine Learning

#7406 ML 7.3 : LGBM (A)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/LGBMimg.png
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_3_LGBM_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7395 How to use .NET SDK,CLI
  dotnet/.NET_SDK_and_CLI.md
Labels: GWOC21

#7093 Girlscript/backendwithdotnet
  .github/workflows/dotnet.yml
  dotnet/Program.cs
  dotnet/bin/Debug/net6.0/dotnet.deps.json
  dotnet/bin/Debug/net6.0/dotnet.dll
  dotnet/bin/Debug/net6.0/dotnet.exe
  dotnet/bin/Debug/net6.0/dotnet.pdb
  dotnet/bin/Debug/net6.0/dotnet.runtimeconfig.json
  dotnet/bin/Debug/net6.0/ref/dotnet.dll
  dotnet/docs/Installation_Procedures/ReadMe.md
  dotnet/docs/Installation_Procedures/images/dotnet-framework-missing-error.PNG
  dotnet/docs/Installation_Procedures/images/windows-features-iis.PNG
  dotnet/docs/containerize-dotnet-applications/ContainerizeDotnetApplications.md
  dotnet/docs/containerize-dotnet-applications/images/DockerSupportOptionInVS.png
  dotnet/docs/containerize-dotnet-applications/images/EnableDockerSupportInVS.png
Labels: documentation, GWOC21, .NET

#7389 ML 0.3 : Real life application of Data Mining (D) #7315
  Machine_Learning/Miscellaneous/Real_life_application_of_Data_Mining.ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7181 Added documentation for slots in Vue.js
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 6/Slots.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 6/assets/Readme.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 6/assets/slotsOutput.png
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 6/assets/slotsOutput2.png
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 6/assets/slotsStruct.png
Labels: GWOC21, Frontend with framework, Vue.js

#7238 3.8 Activity and Activity LifeCycle
  Android_Development_With_Java/3  Activity and Intents/3.8 Activity and Activity LifeCycle.md
  Android_Development_With_Java/4  Android Menu/Context menu
Labels: documentation, GWOC21, Android-Dev-Java

#7414 ML 7.10: Viterbi Algorithm (A) #7016
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_10_Viterbi_Algorithm_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7404 DSA 3.1.10.1 Operations on Doubly Linked List - Insertion
  DSA/3.1 Linked List/10. Operations on Doubly Linked List/3.1.10.1_DLL_Insertion_Operation_Audio.md
Labels: GWOC21, Audio, DSA

#7416 Android Java: 4.01 Android Menus
  Android_Development_With_Java/4  Android Menu/4.01 Android Menu.md
Labels: documentation, GWOC21, Android-Dev-Java

#6209 Egg Dropping
  C_CPP/Competitive Programming/Egg_Dropping.md
  C_CPP/Competitive Programming/readme.md
Labels: documentation, GWOC21, C/CPP

#7382 Constant Declaration
  C_CPP/Fundamentals/Constants/Constants.md
  C_CPP/Fundamentals/readme.md
Labels: documentation, GWOC21, C/CPP

#7327 ML_7_6_Bayesian_Network_(D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/naivetext.csv
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_6_Bayesian_Network_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#4645 DSA String: Super ASCII String Checker
  DSA/1.1 Arrays/5. Standard Problems/1.1.5.9 Largest_Arithmetic_Subarray.md
  DSA/2.1 Strings/Standard Problem/Super_ASCII_String_Checker_.md
Labels: documentation, DSA

#7436 ML 7.7 : Latent Variables (D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_7_Latent_Variables_(D).md
Labels: documentation, GWOC21, approved, Machine Learning

#7130 CSS Margin added
  Web_Development/FrontEnd/CSS Margin/CSS Margin.md
Labels: GWOC21

#7241 Create Application of Box-Model in CSS.md
  Web_Development/FrontEnd/CSS_BoxModel/Application of Box-Model in CSS.md
Labels: GWOC21

#7279 Executing Other Programs at Run Time
  Java/Java_Lang_Package/Executing_Other_Programs _At_Run_Time.md
Labels: GWOC21

#7334 String Comparison #6705
  Java/String Handling/String_comparison/String_Comparision_audio.md
Labels: GWOC21, Audio, Java

#7124 Infix to Postfix using stack in C++ #6945
  C_CPP/Data Structures/Stack/infixToPostfix.md
  C_CPP/Data Structures/Stack/readme.md
Labels: documentation, GWOC21, C/CPP

#7117 Opensource : M.15 Alternative of Jenkins in Open Source.md
  Open_Source/Alternative of Jenkins in Open Source.md
  Open_Source/Miscellaneous/M.15_Alternative_of_Jenkins.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7385 created 4.25_RSoC.md
  Open_Source/4.Open_Source_Programs/4.25_Redox_OS_Summer_of_Code.md
  Open_Source/README.md
Labels: documentation, GWOC21, Open Source

#7446 Machine learning
  Machine_Learning/Dimensionality_Reduction_&_Neural_Networks/ML_6_8_Stochastic and Minibatch Gradient Descent (D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7397 Added the Documentation of 7-Zip
  Open_Source/6.Popular_Projects/6.79_7Zip.md
  Open_Source/6.Popular_Projects/6.83_OSTicket.md
Labels: documentation, GWOC21, ready to merge, Open Source

#7441 Food Delivery App & Web Design
  UI_UX/Food Delivery Design/App Design/appdesign.md
Labels: GWOC21

#7450 [opensource] : Table upt
  Open_Source/6.Popular_Projects/6.68_OpenNN.md
  Open_Source/Alternative of Jenkins in Open Source.md
  Open_Source/README.md
Labels: GWOC21, Open Source

#7451 [opensource] : Table upt
  Open_Source/README.md
Labels: GWOC21, Open Source

#7128 Fractional Knapsack
  C_CPP/Algorithmic Approaches/Greedy/Fractional Knapsack.md
  C_CPP/Algorithmic Approaches/Greedy/readme.md
Labels: documentation, GWOC21, C/CPP

#7443 Railway Reservation System
  C_CPP/Competitive Programming/Railway_Reservation_System.md
  C_CPP/Competitive Programming/readme.md
Labels: documentation, GWOC21, C/CPP

#3667 5.1 connecting with api
  MERN/Topic/Frontend/React/1.2_Getting_started_with_React.md
  MERN/Topic/Frontend/React/5.1_Connecting_with_API.md
Labels: documentation, MERN

#7314 Python: 3.2 What is Logical and Comparison Operator? #412
  Python/Operators/Logical and Comparison Operator/README.md
Labels: GWOC21, Python, Video

#7460 AdaBoost
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/Assets/AdaBoost.png
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_2_Adaboost_(V).md
Labels: GWOC21, Video, approved, Machine Learning

#7463 ML_7_10_Viterbi_Algorithm_(D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_10_Viterbi_Algorithm_(D).ipynb
Labels: documentation, GWOC21, approved, Machine Learning

#7522 ML 8.1 : RNN(A)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_1_RNN_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7523 ML 8.12 : What is Object Detection and RCNN (A)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_12_What_is_Object_Detection_and_RCNN_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7525 ML 8.2 : LSTM(V)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_2_LSTM_(V).md
Labels: GWOC21, Video, approved, Machine Learning

#7527 ML 8.10 : Classical CNNs - AlexNet, VGGNet (A)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_10_Classical_CNNs_AlexNet_VGGNet_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7528 ML 8.6 : Transformers (A)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_6_Transformers_(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7529 ML 8.5: Word Embedding(A)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_5_Word_Embedding(A).md
Labels: GWOC21, approved, Audio, Machine Learning

#7530 ML_7_1_Bootstrap_Aggregation_(D)
  Machine_Learning/Ensemble_based_Learning_&_Probabilistic_ML/ML_7_1_Bootstrap_Aggregation_(D).ipynb
Labels: documentation, GWOC21, Machine Learning

#6963 What_are_Classes_&_Object_Programming(A).md
  C_CPP/OOPs in C++/Classes & Objects Programming/What_are_Classes_&_Object_Programming(A).md
Labels: GWOC21, C/CPP

#7531 ML 8.19 : GAN(V)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML_8_19_GAN_(V).md
Labels: GWOC21, Video, approved, Machine Learning

#7532 ML 8.18 : Image Denoising (V)
  Machine_Learning/ML_For_Sequential_Data_&_Visual_Data/ML 8.18 : Image Denoising (V).md
Labels: GWOC21, Video, approved, Machine Learning

#7426 Frosted glass effect in css #7282
  Web_Development/FrontEnd/Frosted Glass Effect In CSS/README.md
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS
