Repository girlscript/winter-of-contributing, pull requests merged in 2021-10, with the labels that each got.

#3142 Add documentation for while and do while
  Java/Iteration Statement/While and Do-while/Documentation.ipynb
Labels: documentation, Java

#1658 Python: 1.6 How to install Python?
  Python/How_To_Install/Audio/README.md
  Python/How_To_Install/README.md
  Python/README.md
Labels: GWOC21, Python, Audio

#3759 Added NestedScrollView in Android (Kotlin)
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.7 NestedScrollView in Android(Kotlin).md
Labels: documentation, Android-Dev-Kotlin

#3748 Android development with kotlin
  Android_Development_with_Kotlin/04. Android Studio IDE Overview/04.2 Overview of Gradle for Android-Studio.md
Labels: documentation, Android-Dev-Kotlin

#3565 Python datatypes added
  Python/Datatypes/README.md
  Python/README.md
Labels: documentation, Python

#3753 Cyber security 1.2 What is the importance and need for information security?
  Cyber_Security/Week_1/1.2 What is the importance and need for information security? .md
Labels: Audio, Cyber Security

#3776 Streams Documentation #1871
  Backend_Development_With_Java/Java_OOPs/Streams.md
Labels: documentation, Backend-Dev-Java

#3697 Why Spring
  Backend_Development_With_Java/Spring Framework/Why Spring.pdf
Labels: documentation, Backend-Dev-Java

#3756 C_CPP: Overloaded Constructor
  C_CPP/OOPs in C++/Constructor & Destructor/overloaded-constructor.md
Labels: documentation, C/CPP

#3607 Fix: Documentation for issue number - 3243 - Reference Variables in C++
  C_CPP/Fundamentals/Introduction to C/readme.md
  C_CPP/Fundamentals/Programming components, Structure & Keyword/Reference_Variables_in_C++.md
  C_CPP/Fundamentals/Programming components, Structure & Keyword/readme.md
Labels: documentation, C/CPP

#3747 ML_2_18_Implement_Random_Forest_without_using_any_standard_ML_library_like_scikit-learn_or_more_(D)
  Machine_Learning/Supervised_Machine_Learning/ML_2_18_Implement_Random_Forest_without_using_any_standard_ML_library_like_scikit_learn_or_more_(D).ipynb
Labels: documentation, GWOC21, approved, ML, Machine Learning

#3492 [FRONTEND WITH FRAMEWORK]: Angular(2.4)->What is Property Binding?
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Property_binding.md
Labels: documentation, GWOC21, Angular, Frontend Dev React/Angular/Vue

#3460 FRONTEND WITH FRAMEWORK: VueJS-2.2 => Data Manipulation in VueJS
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 2/Data_Manipulation_using_Methods.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 2/assets/data_manipulation_add.gif
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 2/assets/data_manipulation_message.gif
Labels: documentation, Vue.js, Frontend Dev React/Angular/Vue, Review_Ongoing

#2109 REACT-1.6 Create and initialize a React App Readme file added
  Frontend_Web_Development_React_Angular_Vue/React/Week 1/REACT-1.6 Create and initialize a React App.md
Labels: documentation, React.js, Frontend Dev React/Angular/Vue, Review_Ongoing

#3444 Frontend With Framework:Angular-Interpolation
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Interpolation.md
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/assets/Binding.png
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/assets/Interpolation.png
Labels: documentation, Angular, review needed, Frontend Dev React/Angular/Vue

#3817 Create readme.md
  Android_Development/Flutter/Basics of Widgets - Video/readme.md
Labels: Video, Android-Dev-Flutter

#3729 Android development with flutter
  Android_Development/Flutter/Animation in Flutter/Animation-Documentation.md
Labels: documentation, Android-Dev-Flutter

#3835 ML 2.19 : Gradient Descent Algorithms (D)
  Machine_Learning/Supervised_Machine_Learning/ML_2_19_Gradient__Descent_Algorithms_(D).ipynb
Labels: documentation, GWOC21, approved, ML, Machine Learning

#3831 Machine learning
  Machine_Learning/Supervised_Machine_Learning/ML_2_20_Implement_Gradient_Descent_without_using_any_standard_ML_library_like scikit-learn_or_more_(D).ipynb
Labels: documentation, GWOC21, approved, ML, Machine Learning

#3821 ML 1.3 : Central Limit Theorem (V)
  Machine_Learning/Statistics_for_Machine_Learning/ML_1_3_Central_Limit_Theorem_(V).md
Labels: GWOC21, Video, approved, ML, Machine Learning

#3801 ML 2.19: Gradient Descent Algorithms (V)
  Machine_Learning/Supervised_Machine_Learning/ML_2_19_Gradient_Descent_Algorithms(V).md
Labels: GWOC21, Video, approved, ML, Machine Learning

#3829 Contrast between Regression and Classification (A)
  Machine_Learning/Statistics_for_Machine_Learning/ML_2_2_Contrast Between Regression And Classification (A).md
Labels: GWOC21, approved, Audio, ML, Machine Learning

#3712 Android-Kotlin : 09.24 Expandable ListView in Android (Kotlin) #1455
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.24 Expandable ListView.md
Labels: documentation, Android-Dev-Kotlin

#2857 JS: Map Reduce Filter documentation
  JavaScript/Topics/Map_Reduce_Filter/README.md
Labels: documentation, GWOC21, JavaScript

#3548 [JS] Topic : JavaScript Debugging
  JavaScript/Topics/JavaScript_Debugging/README.md
  JavaScript/Topics/JavaScript_Debugging/console.log().png
  JavaScript/Topics/JavaScript_Debugging/debugger.png
Labels: documentation, JavaScript

#3786 Data Science with Python : Usage of get_dummies to create Dummy Variables with Pandas.
  Datascience_With_Python/Machine Learning/Audios/Usage of get_dummies to create Dummy Variables with Pandas/README.md
  Datascience_With_Python/Machine Learning/Audios/Usage of get_dummies to create Dummy Variables with Pandas/get_dummies.ipynb
  Datascience_With_Python/Machine Learning/Audios/Usage of get_dummies to create Dummy Variables with Pandas/usage_of_get_dummies_to_create_dummy_variables_with_pandas.pdf
Labels: GWOC21, approved, DSWP, Audio

#3840 Data Science with Python : Linear Regression Algorithm #1567
  Datascience_With_Python/Machine Learning/Videos/Linear Regression/README.md
  Datascience_With_Python/Machine Learning/Videos/Linear Regression/linear_regression.pdf
Labels: GWOC21, Video, approved, DSWP

#3857 Added Navigation Drawer with Fragment in Android (Kotlin)
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.9 Navigation Drawer with Fragment in Android.md
Labels: documentation, Android-Dev-Kotlin

#3773 ML 2.8: K_Nearest_Neighbour_Algorithm(A)
  Machine_Learning/Supervised_Machine_Learning/ML_2_8_K-Nearest Neighbour Algorithm_(A).md
Labels: GWOC21, requested changes, Audio, ML, Machine Learning

#3517 CSS Specificity
  Web_Development/FrontEnd/CSS_Specificity/CSS_Specificity.md
  Web_Development/FrontEnd/CSS_Specificity/assets/asset1.jpg
  Web_Development/FrontEnd/CSS_Specificity/assets/asset2.jpg
  Web_Development/FrontEnd/CSS_Specificity/assets/asset3.jpg
  Web_Development/FrontEnd/CSS_Specificity/assets/asset4.jpg
  Web_Development/FrontEnd/CSS_Specificity/assets/asset5.jpg
  Web_Development/FrontEnd/CSS_Specificity/readme.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#3757 Explain everything about Webpack#2979
  Open_Source/6.Popular_Projects/6.11_Webpack.md
Labels: documentation, GWOC21, ready to merge, Open Source

#3808 OpenSource: Improving content and minor spellcheck
  Open_Source/2.Getting_Started_With_Open_Source/2.1_Practice_Git_and_Github_fundamentals.md
Labels: documentation, GWOC21, ready to merge, Open Source

#3813 Create 6.15_Ember.js.md
  Open_Source/6.Popular_Projects/6.15_Ember.js.md
Labels: documentation, GWOC21, ready to merge, Open Source

#3852 Open Source : 6.16 Language Server Protocol
  Open_Source/6.Popular_Projects/6.16_Language_Server_Protocol.md
Labels: GWOC21, ready to merge, Open Source

#2264 MERN_React: 2.3 Basics of React.createElement() #996 - Srijan Shovit
  MERN/Topic/Frontend/React/2.3_Basics_of_React.createElement().ipynb
Labels: documentation, MERN

#3860 Data Science with Python : Multicollinearity using Ridge regression #3754
  Datascience_With_Python/Machine Learning/Tutorials/Multicollinearity using Ridge regression/README.md
  Datascience_With_Python/Machine Learning/Tutorials/Multicollinearity using Ridge regression/multicollinearity_using_ridge_regression.ipynb
Labels: documentation, GWOC21, approved, DSWP

#3879 Create ML_2_6_Logistic_Regression(A).md
  Machine_Learning/Supervised_Machine_Learning/ML_2_6_Logistic_Regression(A).md
Labels: Audio

#3745 C_CPP Documentation on C++ versions.
  C_CPP/C++ 17/versions.md
Labels: documentation, C/CPP

#3839 Naive Bayes Algorithm (D)
  Machine_Learning/Supervised_Machine_Learning/ML_2_11_Naive_Bayes_Algorithm_(D).md
Labels: documentation

#1260 Create 1.1.What is React_Audio.md
  MERN/Topic/Frontend/React/1.1.What is React_Audio.md
Labels: Audio, MERN

#3862 Java 13.3: Importing Packages
  Java/History/Impact of Java on Internet/Impact_of_Java_on_Internet.md
  Java/Packages/Importing_Packages/Importing_Packages_in_Java.md
Labels: documentation

#3688 Java Synchronization
  Java/Multithreaded Programing/Synchorization/README.md
  Java/Multithreaded Programing/Synchorization/Synchronization.md
Labels: documentation, Java

#3718 Java
  Java/Exception Handling/Catching_Exceptions/Catching_Exception.md
  Java/Exception Handling/Catching_Exceptions/README.md
Labels: documentation, Documentation-DONE

#3561 Java 8.1: Break and continue #1995
  Java/Jump Statements/Break and continue/Break_and_continue_Audio.md
Labels: Audio, Java

#3285 Java 14.1: Defining and Implementation of Interfaces
  Java/Exception Handling/Why_are_exceptions/What are exceptions?.md
  Java/Interfaces/Defining_And_Implementation_Of_Interfaces/Defining and Implementation of Interfaces.md
Labels: Audio, Java

#3361 Basic Widgets in Flutter
  Android_Development/Flutter/Widgets/assets/axes.jpg
  Android_Development/Flutter/Widgets/assets/rc.png
  Android_Development/Flutter/Widgets/assets/stack_cont.png
  Android_Development/Flutter/Widgets/basic_widgets.md
Labels: documentation, Android-Dev-Flutter

#3428 Interview preparation
  Interview_Preparation/Quick Notes (Cheat Sheet) -> SQL.md
Labels: documentation, Interview Prep

#3439 Python: Dictionary_Comprehension
  Python/Dictionary_Comprehension/Dictionary_Comprehension.ipynb
  Python/Dictionary_Comprehension/README.md
  Python/README.md
Labels: documentation, Python

#3475 Java 16.2: Synchorization #3180
  Java/Multithreaded Programing/Synchorization/Synchronization_Audio.md
Labels: Audio, Java

#3086 Java 15.2: Exception Types
  Java/Exception Handling/Exception_Types/Exception Types documentation.md
Labels: documentation, Assigned, Java

#3126 Java 12.2: Introduction to Super keyword
  Java/Inheritance/Introduction_To_Super_Keyword/Introduction_to_Super_keyword.md
  Java/Inheritance/Introduction_To_Super_Keyword/README.md
  Java/Inheritance/Introduction_To_Super_Keyword/img/super.png
Labels: documentation, Java

#3676 ML_2_8_K-Nearest-Neighbour-Algorithm_(D).md
  Machine_Learning/Supervised_Machine_Learning/ML_2811_K-Nearest-Neighbour-Algorithm_(D).md
Labels: documentation, GWOC21, requested changes, ML, Machine Learning

#3921 Created 8.0 Notifications_In_Java.md
  8.0 Notifications_In_Java.md
Labels: documentation, Android-Dev-Java

#3795 Cybersecurity 3.4 Browser Hijacker #1675
  Cyber_Security/Week_3/Browser Hijacker vedio.md
Labels: Video

#3022 css_comments file added
  Web_Development/FrontEnd/CSS_Comment/CSS_Comments.md
Labels: documentation

#3656 DSA 2.1.10.1 character based counting problems in strings resolves issue#3601
  DSA/2.1 Strings/10. Character based counting problems in strings/2.1.10.1. Count common characters in two strings.md
  DSA/README.md
Labels: documentation, DSA

#3738 Data Science with Python : Depression Detection using ML
  Datascience_With_Python/DS Datasets/Depression Detection/covid_mental_health_test.csv
  Datascience_With_Python/DS Datasets/Depression Detection/covid_mental_health_train.csv
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/ README.md
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/datavis1.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/datavis2.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds1.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds2.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds3.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds4.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds5.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds6.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ds7.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/lg.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/ra.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/Images/xgb.PNG
  Datascience_With_Python/Machine Learning/Projects/Depression Detection/depression_detection_using_machine_learning.ipynb
Labels: documentation, GWOC21, approved, DSWP

#3798 Algorithms: Kadane's Algorithm(CPP)
  C_CPP/Algorithmic Approaches/Dynamic/Kadanes.md
Labels: documentation, C/CPP

#3692 DSA 2.2.7 Searching & Sorting Algorithms : Insertion Sort - Documentation #3293
  DSA/2.2 Searching & Sorting Algorithms/2.2.7_Insertion_Sort.md
Labels: documentation, DSA, Assigned

#3205 String and their functions in C #1753
  C_CPP/Strings and their functions/readme.md
  C_CPP/Strings and their functions/stringAndTheirFunctionsInC.md
Labels: documentation, ready to merge, C/CPP

#3627 Python: Yield Keyword
  Python/README.md
  Python/Yield_Keyword/README.md
  Python/Yield_Keyword/yield_keyword.ipynb
Labels: documentation, Python

#3104 Android-Kotlin: 02.1 Datatypes in Kotlin
  Android_Development_with_Kotlin/02. Basics of Kotlin/02.1 Datatypes in Kotlin.md
Labels: documentation, Android-Dev-Kotlin

#3952 DSA 2.1.10.2 Find uncommon characters of the two strings
  DSA/2.1 Strings/10. Character based counting problems in strings/2.1.10.2 Find uncommon characters of the two strings.md
Labels: documentation, DSA

#3880 OpenSource : 5.45 Explain everything related to ```OperatorFramework```
  Open_Source/5.CNCF_Projects/5.54_OperatorFramework.md
Labels: documentation, GWOC21, Open Source

#3834 6.4 Everything about vscode Opensource
  Open_Source/6.Popular_Projects/6.4_vscode.md
Labels: GWOC21, ready to merge, Open Source

#3705 6.13 Explained Everything related to `React Native`
  Open_Source/6.Popular_Projects/6.13_React_Native.md
Labels: GWOC21, ready to merge, Open Source

#3698 HTML IFrames
  Web_Development/FrontEnd/HTML_IFrames/iframes.md
  Web_Development/FrontEnd/ReadMe.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#3762 feat: Implementation of Queue in C
  C_CPP/Data Structures/Queue/Queue In C/Queue.c
  C_CPP/Data Structures/Queue/Queue In C/Queue.md
  C_CPP/Data Structures/Queue/Queue In C/output.png
  C_CPP/Data Structures/Queue/readme.md
Labels: documentation, C/CPP

#3714 C cpp
  C_CPP/Algorithmic Approaches/Searching_Techniques.md
  C_CPP/Algorithmic Approaches/readme.md
Labels: documentation, C/CPP

#3986 What is Logical and Comparison Operator?
  Python/Operators/python-3-2-what-is-logical-and-comparison-operator-412.ipynb
Labels: documentation, Python

#3412 SUPERBALL GAME IN C
  C_CPP/Game Development/SuperBall_Game_In_C.md
  C_CPP/Game Development/readme.md
Labels: documentation, C/CPP

#3983 Data Science with Python : Data Normalization #1857
  Datascience_With_Python/Machine Learning/Videos/Data Normalization/README.md
  Datascience_With_Python/Machine Learning/Videos/Data Normalization/data_normalization.pdf
Labels: GWOC21, Video, approved, DSWP

#3900 ML 2.6: Logistic Regression (V) #2797
  Machine_Learning/Supervised_Machine_Learning/Assets/logr.png
  Machine_Learning/Supervised_Machine_Learning/ML_2_6_Logistic_Regression(V).md
Labels: GWOC21, Video, requested changes, ML, Machine Learning

#3442 [ Golang ] 8. Introduction to DOC Concurrency
  Golang/8 Concurrency/README.md
Labels: GWOC21, GoLang

#3981 [FRONTEND WITH FRAMEWORK]: Angular(2.6) -> What is Two Way Data Binding?
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Two_Way_Data_Binding.md
Labels: documentation, Assigned, Frontend Dev React/Angular/Vue

#3912 C/CPP : Linear and Binary Search Documentation
  C_CPP/Algorithmic Approaches/Searching/Linear and Binary Search.md
Labels: documentation, C/CPP

#3996 Data Science with Python : Principal Component Analysis #1034
  Datascience_With_Python/Machine Learning/Audios/Principal Component Analysis/README.md
  Datascience_With_Python/Machine Learning/Audios/Principal Component Analysis/principal_component_analysis.pdf
Labels: GWOC21, approved, DSWP, Audio

#4010 Data Science with Python : Multicollinearity using Ridge regression #3754
  Datascience_With_Python/Machine Learning/Videos/Multicollinearity using Ridge Regression/README.md
  Datascience_With_Python/Machine Learning/Videos/Multicollinearity using Ridge Regression/multicollinearity_using_ridge_regression.pdf
Labels: GWOC21, Video, approved, DSWP

#3999 Create 6.14_Grunt.md
  Open_Source/6.Popular_Projects/6.14_Grunt.md
Labels: documentation, Assigned, Open Source

#3777 OpenSource : 5.43 Explain everything related to Notary
  Open_Source/5.CNCF_Projects/5.43_Notary.md
Labels: documentation, GWOC21, ready to merge, Open Source

#4016 link corrected
  Web_Development/FrontEnd/ReadMe.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#3956 Cyber security: Issue 3649 Rot13
  Cyber_Security/Week_4/images/rot13.png
  Cyber_Security/Week_4/rot13.md
Labels: Cyber Security

#2525 Cyber security: 1.9.3 Types of virtualization
  Cyber_Security/Week_1/Types of virtualisation.md
  Cyber_Security/Week_3/Cyber security 3.9.3 Phishing Attackes.md
Labels: documentation, Video, Audio, Cyber Security

#4021 [restructure : OS] : Content Table upt
  Open_Source/5.CNCF_Projects/5.33_CrossPlane.md
  Open_Source/5.CNCF_Projects/5.34_Flagger.md
  Open_Source/5.CNCF_Projects/5.35_gRPC.md
  Open_Source/5.CNCF_Projects/5.36_KEDA.md
  Open_Source/5.CNCF_Projects/5.37_Notary.md
  Open_Source/5.CNCF_Projects/5.38_OperatorFramework.md
  Open_Source/6.Popular_Projects/6.17_Language_Server_Protocol.md
  Open_Source/README.md
Labels: GWOC21, Open Source

#4023 [restructure : OS] : Content Table upt
  Open_Source/README.md
Labels: GWOC21, Open Source

#4019 ML 2.9 : Decision Trees Algorithm (A)_2779
  Machine_Learning/Supervised_Machine_Learning/Assets/DECISION TREE ALGORITHM.png
  Machine_Learning/Supervised_Machine_Learning/ML_2_9_Decision_Trees_Algorithm(A).md
Labels: Audio

#3610 Essential UI/UX Screens - Login and Signup Screen #93
  UI_UX/Essential_Screens/Login_&_Sign_up_page.md
Labels: UI/UX, Video

#3769 Reverse the Singly Linked List
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/Reverse_Singly_Linked_List_In_C.md
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/Singly_Linked_List_In_C.md
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/readme.md
  C_CPP/Data Structures/Linked List/readme.md
Labels: documentation, C/CPP

#4027 C_CPP : Encryption and Decryption in C++
  C_CPP/Cryptography/Encryption_and_Decryption/enc_dec.md
  C_CPP/Cryptography/readme.md
Labels: documentation, C/CPP

#3941 added project
  Open_Source/2.Getting_Started_With_Open_Source/2.4_Create_Your_Own_Open_Source_Project.md
Labels: documentation, ready to merge, requested changes, Open Source

#3930 Java 9.6: Nested Classes #2161
  Java/Classes and Methods/Nested Classes/Nested_Classes.md
Labels: Java, Java-Video-Done

#3638 2.2.2.1_Ternary_search.md
  DSA/2.2 Searching & Sorting Algorithms/2.2.2.1_Ternary_search.md
Labels: documentation, DSA

#3960 Added pancake sort
  DSA/2.2 Searching & Sorting Algorithms/Pancake_Sort.md
Labels: documentation, DSA

#4036 Cybersecurity 3.9.5 MAN-IN-THE-MIDDLE attack #2503
  Cyber_Security/Week_3/MAN-IN-THE-MIDDLE attack Video.md
Labels: Video, Cyber Security

#4055 CyberSecurity_Video Added
  Cyber_Security/Cybersecurity_video.md
Labels: Video

#3885 Added Bottom Navigation in Android (Kotlin)
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.11 Bottom Navigation in Android.md
Labels: documentation, Android-Dev-Kotlin

#4133 ML 3.1 What is Clustering? Validate its necessity using real-world applications. (V)
  Machine_Learning/Unsupervised_Machine_Learning/ML_3_1_what_is_clustering_?_Validate_its_necessity_using_real_world_applications_(V).md
Labels: Video, Machine Learning

#3962 Data Science with Python : PDFs and CDFs in ML
  Datascience_With_Python/Machine Learning/Audios/PDFs and CDFs/README.md
Labels: GWOC21, approved, DSWP, Audio

#2736 Data Science with Python : Random Forest Algorithm
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/1.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/2.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/3.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/4.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/5.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/6.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/7.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/8.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/Images/9.png
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/README.md
  Datascience_With_Python/Machine Learning/Algorithms/Random Forest Algorithm/random_forest_algorithm.ipynb
Labels: documentation, GWOC21, approved, DSWP

#2680 C_cpp: Dynamic memory allocation
  C_CPP/Dynamic Memory allocation/malloc,calloc,realloc.md
  C_CPP/Dynamic Memory allocation/readme.md
Labels: documentation

#4139 merge: Interview preparation
  Interview_Preparation/Behavioural Questions.md/README.md
  Interview_Preparation/Introduction.md/README.md
  Interview_Preparation/SQL CheatSheet-Notes.md
Labels: Interview Prep

#4121 Datascience with python : PDFs and CDFs in ML #3520
  Datascience_With_Python/DS Datasets/Machine Learning/Iris.csv
  Datascience_With_Python/Machine Learning/Tutorials/PDFs and CDFs in Machine Learning/README.md
  Datascience_With_Python/Machine Learning/Tutorials/PDFs and CDFs in Machine Learning/pdfs_and_cdfs_in_machine_learning.ipynb
Labels: documentation, GWOC21, approved, DSWP

#4057 Data Science with Python : Neural Networks Cheatsheet #1849
  Datascience_With_Python/Deep Learning/Cheatsheets/Neural Networks Cheatsheet/README.md
  Datascience_With_Python/Deep Learning/Cheatsheets/Neural Networks Cheatsheet/neural_networks_cheatsheet.ipynb
Labels: documentation, GWOC21, approved, DSWP

#4138 added Explaining_PIP md file
  Python/Explaining_PIP/README.md
Labels: Python

#4002 Data Science with Python : K means Clustering Algorithm #1527
  Datascience_With_Python/DS Datasets/Machine Learning/california_cities.csv
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Clustered_Data_Head.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Data_Head_1.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Data_Head_2.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Elbow_1.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Elbow_2.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/K_Means.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Read_Csv_Head.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Scatter_1.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Scatter_2.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/Images/Scatter_3.png
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/README.md
  Datascience_With_Python/Machine Learning/Videos/K means Clustering Algorithm/k_means_clustering_algorithm.pdf
Labels: GWOC21, Video, approved, DSWP

#3980 Data Science with Python : Temporal Difference Learning
  Datascience_With_Python/Deep Learning/Tutorials/Temporal Difference Learning/README.md
  Datascience_With_Python/Deep Learning/Tutorials/Temporal Difference Learning/Temporal_difference_learning.ipynb
  Datascience_With_Python/Deep Learning/Tutorials/Temporal Difference Learning/images/target.png
Labels: documentation, GWOC21, approved, DSWP

#3861 Introduction to OpenCV library
  Datascience_With_Python/Computer Vision/Audios/Introduction to OpenCV library/Introduction to OpenCV Library.pdf
  Datascience_With_Python/Computer Vision/Audios/Introduction to OpenCV library/README.md
  Datascience_With_Python/Computer Vision/README.md
Labels: GWOC21, approved, DSWP, Audio

#1338 Frontend web development html css js
  Web_Development/FrontEnd/HTML-LISTS#842.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#3710 Data Science with Python : Birch Algorithm (#3341)
  Datascience_With_Python/DS Resources/Machine Learning/Birch algorithm/README.md
  Datascience_With_Python/Machine Learning/Videos/Birch Algorithm/BRICH.ipynb
  Datascience_With_Python/Machine Learning/Videos/Birch Algorithm/Birch algorithm.pdf
  Datascience_With_Python/Machine Learning/Videos/Birch Algorithm/README.md
Labels: GWOC21, Video, approved, DSWP

#3597 Data Science with Python : Logistic Regression
  Datascience_With_Python/Machine Learning/Algorithms/Logistic Regression/Code_implementation.ipynb
  Datascience_With_Python/Machine Learning/Algorithms/Logistic Regression/Images/Code flowchart.jpeg
  Datascience_With_Python/Machine Learning/Algorithms/Logistic Regression/Images/Sigmoid Curve.png
  Datascience_With_Python/Machine Learning/Algorithms/Logistic Regression/README.md
Labels: documentation, GWOC21, approved, DSWP

#3464 Datascience with python : Birch Algorithm
  Datascience_With_Python/Machine Learning/Algorithms/Birch Algorithm/README.md
  Datascience_With_Python/Machine Learning/Algorithms/Birch Algorithm/birch_algorithm.ipynb
Labels: documentation, GWOC21, approved, DSWP

#2890 Data Science with Python : Data Visualizations using Matplotlib #445
  Datascience_With_Python/Data Analysis and Visualization/Data Visualizations using Matplotlib/Data Visualizations Using Matplotlib #445.ipynb
  Datascience_With_Python/Data Analysis and Visualization/Data Visualizations using Matplotlib/README.md
Labels: documentation, GWOC21, approved, DSWP

#3848 ML 1.8: A\B Testing (V) #1115
  Machine_Learning/Statistics_for_Machine_Learning/Assets/a-b-testing-principles.png
  Machine_Learning/Statistics_for_Machine_Learning/ML 1.8: A\B Testing (V).md
Labels: GWOC21, Video, requested changes, ML, Machine Learning

#3772 Data Science with Python : Q Learning
  Datascience_With_Python/Machine Learning/Q Learning/Q Learning.ipynb
  Datascience_With_Python/Machine Learning/Q Learning/README.md
Labels: documentation, GWOC21, approved, DSWP

#1733 Data Science with Python: Elastic Net Regression
  Datascience_With_Python/Machine Learning/Tutorials/Elastic Net Regression/README.md
  Datascience_With_Python/Machine Learning/Tutorials/Elastic Net Regression/elastic_net_regression.ipynb
Labels: documentation, GWOC21, approved, DSWP

#1040 Data Science With Python: Text Preprocessing in NLP
  Datascience_With_Python/Natural Language Processing/Tutorials/Text Preprocessing/README.md
  Datascience_With_Python/Natural Language Processing/Tutorials/Text Preprocessing/text_preprocessing.ipynb
Labels: documentation, GWOC21, approved, DSWP, Multiple-Contributors

#4151 ML 3.5: Hierarchical Clustering (V)
  Machine_Learning/Unsupervised_Machine_Learning/ML_3_5_Hierarchical_Clustering_(V).md
Labels: Video, Machine Learning

#4156 Android development with kotlin
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.12 Bottom Sheet Dialog in Android (Kotlin).md
Labels: documentation, Android-Dev-Kotlin

#4086 FRONTEND WITH FRAMEWORK: Angular -> Angular Component LifeCycle
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Angular_Component_lifecycle.md
Labels: documentation, GWOC21, Angular, Frontend Dev React/Angular/Vue

#4063 Frontend web development react angular vue: What are Template Statements
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/2.2_What_are_Template_Statements.md
Labels: documentation, GWOC21, Angular, Frontend Dev React/Angular/Vue

#4004 Frontend With Framework - fixes issue-#3052
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Angular_Pipes.md
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/assets/Output_1.png
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/assets/Output_2.png
Labels: GWOC21, Angular, Frontend Dev React/Angular/Vue

#3892 std built-in objects
  Web_Development/Javascript/6.Objects and Arrays/built-in objects.md
Labels: documentation, JavaScript, Frontend Dev HTML/CSS/JS

#4137 ML 3.2 k-means Clustering (D)
  Machine_Learning/Unsupervised_Machine_Learning/k-means_Clustering_(D).md
Labels: documentation, Machine Learning

#4147 ML 3.1 What is Clustering? Validate its necessity using real-world applications. (A)
  Machine_Learning/Unsupervised_Machine_Learning/Assets/R.png
  Machine_Learning/Unsupervised_Machine_Learning/Assets/cls.jpg
  Machine_Learning/Unsupervised_Machine_Learning/ML_3.1_What_is_Clustering?_Validate_its_necessity_using_real_world_applications._(A).md
Labels: Audio

#4180 ML 3.10 : Outlier Detection using Local Outlier Factor (LOF) (D)
  Machine_Learning/Unsupervised_Machine_Learning/ML_3_10_Outlier_Detection_using_Local_Outlier_Factor_(LOF)_(D).ipynb
Labels: documentation, GWOC21, approved, ML, Machine Learning

#4181 ML 3.7 : BIRCH (A)
  Machine_Learning/Unsupervised_Machine_Learning/ML_3_7_BIRCH (A).md
Labels: GWOC21, approved, Audio, ML, Machine Learning

#4175 Docs: Add Block Element Modifier README. Issue: #2461
  Web_Development/FrontEnd/GWOC BEM/Images/BEM.png
  Web_Development/FrontEnd/GWOC BEM/README.md
Labels: documentation

#4182 Data Science with Python : Linear Regression Algorithm #1567
  Datascience_With_Python/Machine Learning/Audios/Linear Regression/README.md
  Datascience_With_Python/Machine Learning/Audios/Linear Regression/linear_regression.pdf
Labels: GWOC21, approved, DSWP, Audio

#4188 ML 1.5 : Probability Distributions (Gaussian, Standard, Poisson) (V)
  Machine_Learning/Statistics_for_Machine_Learning/Assets/ML_1_5_(V)_Thumbnail.png
  Machine_Learning/Statistics_for_Machine_Learning/ML_1_5_Probability Distributions (Gaussian, Standard, Poisson)_(V).md
Labels: GWOC21, Video, approved, ML, Machine Learning

#2143 CSS Transition and Transform
  Web_Development/FrontEnd/CSS Transition and Transform/CSS Transition and Transform.md
Labels: documentation

#4172 Create Angular(2.5)What_is_Event_Binding.md
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Angular(2.5)What_is_Event_Binding.md
Labels: GWOC21, Angular, Frontend Dev React/Angular/Vue

#3992 Python: What are Errors and its types
  Python/Python Errors and its Types/Python_Errors.ipynb
  Python/Python Errors and its Types/README.md
  Python/Python Errors and its Types/images/img1.png
  Python/Python Errors and its Types/images/img2.png
  Python/Python Errors and its Types/images/img3.png
Labels: documentation

#4195 Folders for Week-3
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 3/Readme.md
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 3/assets/Readme.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 3/Readme.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 3/assets/Readme.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 3/Readme.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 3/assets/Readme.md
Labels: GWOC21, Angular, Assigned, Frontend Dev React/Angular/Vue

#3785 [JS] Topic : Error-Handling
  JavaScript/Topics/Error_Handling/README.md
  JavaScript/Topics/Error_Handling/trycatch.png
Labels: documentation, Assigned

#3822 Update CONTRIBUTING.md
  JavaScript/CONTRIBUTING.md
Labels: documentation, JavaScript

#3731 Added explanation to Order Statistics problems
  DSA/1.1 Arrays/4. Order Statistics/README.md
Labels: documentation, DSA, Statistics

#2741 Data Science with Python: Decision Tree Algorithm
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/1.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/2.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/3.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/4.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/5.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/6.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/7.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/8.PNG
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/Images/9.png
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/README.md
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/decision_tree_algorithm.ipynb
  Datascience_With_Python/Machine Learning/Algorithms/Decision Tree Algorithm/requirements.txt
Labels: documentation, GWOC21, approved, DSWP

#4185 Cybersecurity 4 Cryptography #3317
  Cyber_Security/Week_4/Cryptography video.md
Labels: Video, Cyber Security

#4091 Cybersecurity 3.9.6 video added
  Cyber_Security/Week_3/Cybersecurity 3.9.6 Create own Virus.md
Labels: Video

#4047 Heap Sort in C++
  C_CPP/Algorithmic Approaches/Sorting/Heap_Sort.md
  C_CPP/Algorithmic Approaches/Sorting/readme.md
Labels: documentation, C/CPP

#4140 Detect Loop in Linked List
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/Loop_In_Singly_Linked_List_In_C.md
  C_CPP/Data Structures/Linked List/Singly Linked List (Normal Linked List)/readme.md
Labels: documentation, C/CPP

#4088 #2813 Graph:Topological Sorting
  C_CPP/Data Structures/Graph/TopologicalSorting/TopologicalSort.cpp
  C_CPP/Data Structures/Graph/TopologicalSorting/Topological_Sort.md
  C_CPP/Data Structures/Graph/TopologicalSorting/ts.svg
  C_CPP/Data Structures/Graph/readme.md
Labels: documentation, C/CPP

#4208 ML 3.7 BIRCH (D)
  Machine_Learning/Unsupervised_Machine_Learning/ML_3_7_Birch_(D).ipynb
Labels: documentation, Machine Learning

#3942 Android-Kotlin-09.18-CardView-and-MaterialCardView-in-Android-…
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.18 CardView and MaterialCardView in Android (Kotlin).md
Labels: documentation, requested changes, Android-Dev-Kotlin

#4048 C_CPP: Text Files and Binary Files
  C_CPP/File Handling & IO Management/readme.md
  C_CPP/File Handling & IO Management/textfiles-and-binaryfiles.md
Labels: documentation, C/CPP

#4223 Two pointer technique
  C_CPP/Algorithmic Approaches/Searching/Two Pointers Technique.md
Labels: documentation

#4082 DSA 2.2.7 Searching & Sorting Algorithms : Insertion Sort - Video #3299
  DSA/2.2 Searching & Sorting Algorithms/2.2.7_Insertion_Sort_Video.md
Labels: Video, DSA

#4226 Create 01.2_Git_flow_&_commands.md
  Android_Development_with_Kotlin/01. Version Control System/01.2_Git_flow_&_commands.md
Labels: documentation, Android-Dev-Kotlin

#4165 Opensource :Migrate 1.Background/1._History_Of_Free_And_Open_Source.ipynb to MARKDOWN.md
  Open_Source/1.Background/1._History_Of_Free_And_Open_Source.ipynb
  Open_Source/1.Background/1._History_Of_Free_And_Open_Source.md
Labels: GWOC21, ready to merge, Open Source

#4083 Opensource : Migrate 3.Share_Things_With_Community/3.6_Finding_Github_Issues.ipynb to MARKDOWN.md
  Open_Source/3.Share_Things_With_Community/3.6_Finding_Github_Issues.ipynb
  Open_Source/3.Share_Things_With_Community/3.6_Finding_Github_Issues.md
Labels: documentation, ready to merge, Open Source
