Repository girlscript/winter-of-contributing, pull requests merged in 2021-09, with the labels that each got.

#155 OpenSource : 1.1 Added Rise Of Open Source Programming Languages
  Android_Development/Flutter/README.md
  Android_Development/Java/README.md
  Android_Development/Kotlin/README.md
  Android_Development/README.md
  Open_Source/Rise_Of_Open_Source_Programming_Languages.md
  Web_Development/Javascript/README.MD
Labels: GWOC21, OpenSource, ready to merge, approved

#160 OpenSource : 1. History of free and open-source software
  Open_Source/History of free and open-source.ipynb
Labels: GWOC21, OpenSource, ready to merge, approved

#164 OpenSource : 2. Getting Started With Open Source
  Open_Source/GettingStartedWithOpenSource.ipynb
Labels: GWOC21, OpenSource, ready to merge

#273 OpenSource : 3.8 Finding Issues in Github
  Open_Source/Finding_Github_Issues (1).ipynb
Labels: GWOC21, OpenSource, ready to merge, contributor-issue

#198 OpenSource : 3.3 Introduction to OSS and examples of OSS.
  Open_Source/3.3_Open_Source_Softwares.md
Labels: GWOC21, OpenSource, ready to merge, contributor-issue

#312 Open Source 1.4: Why open source?
  Open_Source/1.4 Why Open Source.md
Labels: GWOC21, OpenSource, ready to merge

#309 3.4 List of open source events.
  Open_Source/3.4_List_Of_Open_Source_Events.md
Labels: GWOC21, OpenSource, ready to merge

#314 OpenSource : 4.1 Explain everything related to the MLH fellowship
  Open_Source/4.1 Explain everything related to the MLH fellowship.md
Labels: GWOC21, OpenSource, ready to merge

#323 Create OpenSource : 3. Blog what you do and be more social
  Open_Source/OpenSource : 3. Blog what you do and be more social.md
Labels: GWOC21, OpenSource, ready to merge

#311 3.6 Overview of Google summer of code
  Open_Source/GSOC.md
Labels: GWOC21, OpenSource, ready to merge

#330 4.11 Explain everything related to HacktoberFest
  Open_Source/HacktoberFest.md
Labels: GWOC21, OpenSource, ready to merge

#334 Open Source : 3.3_Open_Source_Softwares
  Open_Source/3.3_Open_Source_Softwares.md
Labels: enhancement, GWOC21, OpenSource

#333 OpenSource : 5.7 Compare github vs gitlab vs bit bucket
  Open_Source/5.7 Compare github vs gitlab vs bit bucket.md
Labels: GWOC21, OpenSource, ready to merge

#390 [structure] : Redefine, Rename files, Sections Added
  Open_Source/Section-1/1.1_Rise_Of_Open_Source_Programming_Languages.md
  Open_Source/Section-1/1.4_Why_Open_Source.md
  Open_Source/Section-1/1._History_Of_Free_And_Open_Source.ipynb
  Open_Source/Section-2/2.1_Practice_Git_and_Github_fundamentals.md
  Open_Source/Section-2/2._GettingStarted_With_Open_Source.ipynb
  Open_Source/Section-3/3.2_Customising_GitHub_Profile.md
  Open_Source/Section-3/3.3_Open_Source_Softwares.md
  Open_Source/Section-3/3.4_List_Of_Open_Source_Events.md
  Open_Source/Section-3/3.6_Overview_of_Google Summer_Of_Code.md
  Open_Source/Section-3/3.8_Finding_Github_Issues.ipynb
  Open_Source/Section-3/3._Blog_What_You_Do_And_Be_More_Social.md
  Open_Source/Section-4/4.11_HacktoberFest_Overview.md
  Open_Source/Section-4/4.1_Explain_Everything_Related_to_the_MLH_Fellowship.md
  Open_Source/Section-5/5.7_Compare_github_vs_gitlab_vs_bit_bucket.md
Labels: enhancement, GWOC21, OpenSource

#387 4.14 Everything related toOpen Mainframe Project Mentorship Program
  Open_Source/Section-4/4.14_Open_Mainframe_Project_Mentorship_Program.md
Labels: GWOC21, OpenSource, ready to merge

#398 OpenSource : 4.10 Explain everything related to Free Software Foundation (FSF) Internship Program
  Open_Source/Section-4/4.10_Free_Software_Foundation_Internship_Program.md
Labels: GWOC21, OpenSource, ready to merge

#337 Cyber_Security: 1.8_Security,_Usability_&_Functionality_Triangle.md
  Cyber_Security/Week_1/1.8 Security, Usability & Functionality Triangle.md
Labels: Cybersecurity, requested changes

#399 Cybersecurity: 1.9_What_is_virtualization
  Cyber_Security/Week_1/1.9 What is Virtualization and the need for Virtualization.md
Labels: Cybersecurity, requested changes

#451 OpenSource : 4.13 Explain everything related to FOSSEE Summer Fellowship
  Open_Source/Section-4/4.13_FOSSEE_Summer_Fellowship.md
Labels: GWOC21, OpenSource

#488 OpenSource : 4.4 Explain everything related to Linux Foundation Mento…
  Open_Source/Section-4/4.4 Explain everything related to Linux Foundation Mentorship Programs.ipynb
Labels: GWOC21, OpenSource, ready to merge

#479 OpenSource : 3.9 Overview of Red Hat Open Source
  Open_Source/Section-3/3.9_Overview_of_Red_Hat_Open_Source.md
Labels: GWOC21, OpenSource, ready to merge

#490 OpenSource : 4.9 Explain everything related to Hyperledger Mentorship Program
  Open_Source/Section-4/4.9_Explain_everything_related_to_Hyperledger_Mentorship_Program.md
Labels: GWOC21, OpenSource, ready to merge

#537 FRONTEND WITH FRAMEWORK: VueJS-1.3 => Installation using NPM and about Vue CLI
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/Installation_of_Vue.md
Labels: GWOC21, Frontend with framework, Vue.js

#335 Cyber_Security: 1.9.7_Types_of_Hackers
  Cyber_Security/Week_1/1.9.7_Types_of_Hackers.md
Labels: Cybersecurity, requested changes

#442 OpenSource : 2.3 Start contributing some projects
  Open_Source/Section-2/2.3_Start_Contributing_Some_Projects.md
Labels: GWOC21, OpenSource, ready to merge

#458 OpenSource : 5.1 Explain Deploying to Netlify
  Open_Source/Section-5/5.1_Deploying_to_Netlify.md
Labels: GWOC21, OpenSource, ready to merge

#270 [JS] Topic: Functions
  .github/PULL_REQUEST_TEMPLATE.md
  Android_Development/Flutter/README.md
  Android_Development/Java/README.md
  Android_Development/Kotlin/README.md
  Android_Development/README.md
  README.md
  Web_Development/Javascript/Topics/5.Syntax/6.Functions/README.md
Labels: GWOC21, JavaScript

#190 [JS] Topic: History of JavaScript
  Web_Development/Javascript/Topics/2.History/README.md
  Web_Development/Javascript/Topics/2.History/js-1.png
  Web_Development/Javascript/Topics/2.History/js-2.png
Labels: GWOC21, JavaScript

#332 [JS] Topic: Tutorial on Hoisting in Javascript
  Web_Development/Javascript/Topics/6.Hoisting/README.md
Labels: GWOC21, JavaScript

#191 [JS] Topic: Data Types
  Web_Development/Javascript/Topics/5.Syntax/1.Data_Types/README.md
Labels: GWOC21, JavaScript

#593 Open Source : 4.7 Everything about Outreachy Program
  Open_Source/Section-4/4.7_Outreachy_Program.md
Labels: GWOC21, OpenSource, requested changes

#475 OpenSource : 1.3 Recent OS Projects (Ex : Android, Chromium OS, etc)
  Open_Source/Section-1/1.3_Recent_OS_Projects.md
Labels: GWOC21, OpenSource, ready to merge

#693 FRONTEND WITH FRAMEWORK: Angular -> How to install Angular Material in Angular?
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Angular_material.md
Labels: approved, Frontend with framework, Angular

#255 [JS] Topic: Create a "Hello World" tutorial
  Web_Development/Javascript/Topics/1.Hello_World/README.md
  Web_Development/Javascript/Topics/1.Hello_World/alert.png
  Web_Development/Javascript/Topics/1.Hello_World/img.png
Labels: GWOC21, JavaScript

#708 Frontend web development react angular vue - What is JSX?
  Frontend_Web_Development_React_Angular_Vue/React/Week 1/REACT-1.1 WHAT IS JSX.md
Labels: React.js, review needed

#614 npm.md
  Frontend_Web_Development_React_Angular_Vue/React/npm.md
Labels: React.js, review needed

#644 4. Participating in Open Source Communities
  Open_Source/Section-4/4._Participating_in_Open_Source_Communities.md
Labels: GWOC21, OpenSource, ready to merge, contributor-issue

#718 Opensource : 3.1 Github best practices #187
  Open_Source/Section-3/3.1_Github_Best_Practices.md
Labels: GWOC21, OpenSource, ready to merge

#327 OpenSource : 3.7 The Pros and Cons of Open Source Software Development
  Open_Source/Section-3/3.7_Pros_and_Cons_of_Open_Source_Software_Development.md
Labels: GWOC21, OpenSource, ready to merge

#741 Create 5.5_Explain_everything_related_to_Amazon_S3
  Open_Source/Section-5/5.5_Explain_everything_related_to_Amazon_S3.md
Labels: GWOC21, OpenSource, ready to merge

#706 OpenSource : 4.6 Explain everything related to the Google Season of Docs (GSoD)
  Open_Source/Section-4/4.6_Google_Season_of_Docs.md
Labels: GWOC21, OpenSource, ready to merge

#749 OpenSource : 5.28 Explain everything related to `BuildPacks`
  Open_Source/Section-5/5.28_Buildpacks.md
Labels: GWOC21, OpenSource, ready to merge

#530 OpenSource: 5.7 Create your own open source project
  Open_Source/Section-5/5.7_Create_Your_Own_Open_Source_Project.md
Labels: GWOC21, OpenSource, ready to merge, Multiple-Contributors

#492 [JS] Topic: Loops
  Web_Development/Javascript/Topics/5.Syntax/Loops/Do_While_Loop/Do_while_1.png
  Web_Development/Javascript/Topics/5.Syntax/Loops/Do_While_Loop/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/Every_Method/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/For_Each_Method/For_each_1.png
  Web_Development/Javascript/Topics/5.Syntax/Loops/For_Each_Method/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/For_In_Loop/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/For_Loop/For_loop_1.png
  Web_Development/Javascript/Topics/5.Syntax/Loops/For_Loop/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/While_Loop/README.md
  Web_Development/Javascript/Topics/5.Syntax/Loops/While_Loop/While_loop_1.png
Labels: GWOC21, JavaScript

#624 [JS] Topic : Objects
  Web_Development/Javascript/Topics/5.Syntax/Objects/README.md
Labels: GWOC21, JavaScript

#714 Added Roadmap to readme
  Android_Development_with_Kotlin/README.md
  README.md
Labels: GWOC21, Android-Dev-Kotlin

#711 Android-Kotlin : 03.1 Installing Android Studio
  Android_Development_with_Kotlin/Android-Kotlin 03.1 Installing Android Studio.md
Labels: GWOC21, Android-Dev-Kotlin

#628 Frontend web development react angular vue - Using Vue.js with CDN
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/assets/cdnoutput.png
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/using_vue_with_cdn.md
Labels: requested changes, Vue.js

#760 Opensource : 1.2 What is Distributed Version Control System
  Open_Source/Section-1/1.2_What_Is_a_Distributed_Version_Control_System.md
Labels: GWOC21, OpenSource

#762 Create Explain everything related to containerd(#650)
  Open_Source/Section-5/5.19 Explain everything related to containerd.md
Labels: GWOC21, OpenSource

#777 Opensource DRagonfly
  Open_Source/Section-5/5.8_DragonFly.md
Labels: GWOC21, OpenSource

#581 1.2.2.1_Algorithms:_Recurrence_Relations_(Introduction)
  DSA/1.2 Analysis of Algorithms/2. Recurrence Relations/1.2.2.1_Introduction.md
Labels: GWOC21, DSA

#751 Frontend With Framework: VueJS-1.5 => Installing Vue-DevTools
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/Installing Vue-Devtools.md
Labels: requested changes, Frontend with framework, Vue.js

#900 ML_1.2_PDFs_and_CDFs_(D)
  Machine_Learning/Statistics_for_Machine_Learning/ML_1_2_PDFs_and_CDFs_(D).ipynb
Labels: documentation, Video, Audio, Machine Learning

#792 CyberSecurity: 2.2_Mac_Address
  Cyber_Security/Week_2/2.2_Mac_Address.md
  Cyber_Security/Week_2/images2/ifconfig.png
  Cyber_Security/Week_2/images2/ipconfigCommand1.png
  Cyber_Security/Week_2/images2/ipconfigCommand2.png
Labels: GWOC21, Cybersecurity, requested changes

#704 [+]Frontend with Framework : Introduction to Vue documentation
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/Introducion_To_Vue.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/assets/ReusableComponents.jpg
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/assets/Two-Way Data Binding.jpg
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 1/assets/Vue.jpg
Labels: Vue.js, review needed

#812 1.6. Maximum Likelihood Estimation.ipynb
  Machine_Learning/Statistics_for_Machine_Learning/Assets/design.png
  Machine_Learning/Statistics_for_Machine_Learning/Assets/image_2021-09-18_19-40-53.png
  Machine_Learning/Statistics_for_Machine_Learning/ML_1_6_Maximum_Likelihood_Estimation_(D).md
  Machine_Learning/Statistics_for_Machine_Learning/README.md
Labels: documentation, GWOC21, requested changes, ML

#809 [+] Additions to React Roadmap
  Frontend_Web_Development_React_Angular_Vue/React/Readme.md
Labels: GWOC21, requested changes, React.js, Frontend with framework

#985 update readme.md
  C_CPP/readme.md
Labels: documentation, C/CPP

#174 Added Variable sexercise
  Android_Development/Flutter/Introduction_To_Dart/exercises.md
Labels: documentation

#1011 Frontend With FrameWorks -All About npm #352
  Frontend_Web_Development_React_Angular_Vue/React/Week 1/All_About_npm.md
  Frontend_Web_Development_React_Angular_Vue/assets/How_To_Use_NPM1.png
  Frontend_Web_Development_React_Angular_Vue/assets/LTS_Installer.png
  Frontend_Web_Development_React_Angular_Vue/assets/LTS_MacOs.png
Labels: GWOC21, Frontend with framework

#808 Frontend with frameworks: Angular:Sharing data between parent and child components in Angular
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Parent_andChild_component.md
Labels: GWOC21, approved, Frontend with framework, Angular, review needed

#1035 Create OpenSource : 5.6 Explain everything related to gitlab-pages.md
  Open_Source/Section-5/5.6_Gitlab_Pages.md
Labels: GWOC21, OpenSource, ready to merge

#977 OpenSource : 5.4 Explain Firebase Hosting
  Open_Source/Section-5/5.4_Explain_Firebase_Hosting.md
Labels: documentation, GWOC21, OpenSource, ready to merge

#872 OpenSource : 5.18 Explained Everything related to Envoy
  Open_Source/Section-5/5.18_Expalin_everything_related_to_envoy.md
Labels: documentation, GWOC21, OpenSource, ready to merge

#847 Opensource : 5. Explain everything related to github-pages
  Open_Source/Section-5/5._Github_Pages.md
Labels: documentation, GWOC21, OpenSource, ready to merge

#826 Explain everything related to Kharagpur Winter Of Code
  Open_Source/Section-4/4.15_Kharagpur_Winter_of_Code.md
Labels: GWOC21, OpenSource, ready to merge

#1062 Added A/B Testing_(D)
  Machine_Learning/Statistics_for_Machine_Learning/A_B_Testing.ipynb
Labels: documentation

#1069 Cybersecurity: Issue-1.9.9.1 Linux File System and its types #170
  Cyber_Security/README.md
  Cyber_Security/Week_1/1.9.9.1 FileSystemInLinux.md
  Cyber_Security/Week_1/What is Information Security?.md
  Cyber_Security/Week_1/images/Directory-structure.png
  Cyber_Security/Week_1/images/System_Structure.png
  Cyber_Security/Week_1/images/filesysytem.png
  Cyber_Security/Week_1/images/typesoflinuxfilesystem.png
Labels: documentation, Cyber Security

#1099 Create 1.9.7 Types_of_Hackers.md
  Cyber_Security/Week_1/1.9.7 Types_of_Hackers.md
Labels: GWOC21, Cybersecurity, Video

#1123 Frontend With Framework - fixes issue-#532
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Angular_Component_manually_without_CLI.md
Labels: GWOC21, approved, Frontend with framework, Angular

#1025 MERN_React: 1.2 Getting started with React (documentation)
  MERN/Topic/Frontend/React/1.2_Getting_started_with_React.md
Labels: documentation, MERN

#728 MERN_React Topic: 1.1 What is React? #394
  Web_Development/MERN/Topic/Frontend/React/1.1.What is React_Audio? .md
Labels: Audio, MERN

#496 Android-Kotlin: 01.1 Requirement of Version Control System
  Android_Development_with_Kotlin/01. Version Control System/01.1 - Requirement of Version Control System.md
Labels: GWOC21, Android-Dev-Kotlin

#805 OpenSource : 5.13 Explain everything related to Vitess
  Open_Source/Section-5/5.13_Explain_Everything_Related_To_Vitess.md
Labels: GWOC21, OpenSource

#1185 FRONTEND WITH FRAMEWORK: Angular -> Dynamic Components in Angular
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Dynamic_components.md
Labels: GWOC21, Frontend with framework, Angular

#1225 Frontend With Framework - fixes issue-#641
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 1/Component_Interaction.md
Labels: Frontend with framework, Angular, review needed

#700 DSA : Recurrance Relation under issue #483
  DSA/1.2 Analysis of Algorithms/2. Recurrence Relations/1.2.2.2_Asymptotic_Notation_Upper_Lower_Bounds.md.md
Labels: GWOC21, DSA

#1089 Added everything related Julia Summer of Code and Everything about SPIFFE
  Open_Source/Section-4/Everything_related_to_julia_summer_of_code.md
  Open_Source/Section-5/5.46_Explain_everything_related_to_Spiffe.md
Labels: documentation, ready to merge, Open Source

#1086 OpenSource : 5.23 Explain everything related to etcd
  Open_Source/Section-5/5.23_Explain_everything_related_to_etcd.md
Labels: documentation, ready to merge, Open Source

#906 4.12 Explain everything related toOpen Summer of Code
  Open_Source/Section-4/4.12_Open_Summer_Of_Code.md
Labels: documentation, GWOC21, OpenSource, ready to merge

#783 OpenSource : 5.11 Explain everything related to `terraform`
  Open_Source/Section-5/5.11_Terraform.md
Labels: GWOC21, OpenSource, ready to merge

#836 Opensource NATS
  Open_Source/Section-5/5.9_NATS.md
Labels: documentation, GWOC21, OpenSource, requested changes

#799 Create 5.25_Explain_everything_related_to_TiKV.md
  Open_Source/Section-5/5.25_Explain_everything_related_to_TiKV.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1253 Revert "MERN_React Topic: 1.1 What is React? #394"
  Web_Development/MERN/Topic/Frontend/React/1.1.What is React_Audio? .md
Labels: Audio, MERN

#917 Python: 2.3 Installing development & debugging software #339{video tutorial}
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/README.md
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/Python.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/comparison.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/pycharm step 1.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/pycharm step 2.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/pycharm step 3.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/pycharm step 4.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/vs code step 1.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/vs code step 2.png
  Python/Installing_Software/Installing_development_&_debugging_software_{VIDEO TUTORIAL}/procedure screenshots/vs code step 3.png
  Python/README.md
Labels: Python, Video

#1257 Completed Introduction to Node.js
  MERN/Topic/Backend/Node/1.1_What_is_node.md
Labels: documentation, MERN

#1266 1.2.2.2_Asymptotic_Notation_Upper_Lower_Bounds
  DSA/1.2 Analysis of Algorithms/2. Recurrence Relations/1.2.2.2_Asymptotic_Notation_Upper_Lower_Bounds.md
Labels: documentation, DSA

#408 Android-Java: 1.5 Run your app using virtual device and real device.
  Android_Development_With_Java/1  Introduction/1.5 Running your app using virtual device.md
Labels: Android-Dev-Java, ready to merge

#1112 Added Interface elements directory, Types of buttons in Figma
  UI_UX/Interface Elements/ImageAssets/Anatomy-Button.jpeg
  UI_UX/Interface Elements/ImageAssets/Animated_Button.gif
  UI_UX/Interface Elements/ImageAssets/CheckButton.png
  UI_UX/Interface Elements/ImageAssets/Color-coded-Buttons.png
  UI_UX/Interface Elements/ImageAssets/DropdownButton.png
  UI_UX/Interface Elements/ImageAssets/FAB.png
  UI_UX/Interface Elements/ImageAssets/FlatButton.png
  UI_UX/Interface Elements/ImageAssets/GhostButton.png
  UI_UX/Interface Elements/ImageAssets/IconButton.png
  UI_UX/Interface Elements/ImageAssets/Icon_with_Label.png
  UI_UX/Interface Elements/ImageAssets/LoginForm.png
  UI_UX/Interface Elements/ImageAssets/RadioButton.png
  UI_UX/Interface Elements/ImageAssets/RaisedButton.png
  UI_UX/Interface Elements/ImageAssets/ShapeButtons.png
  UI_UX/Interface Elements/ImageAssets/SizeButtons.png
  UI_UX/Interface Elements/ImageAssets/States-Button.jpg
  UI_UX/Interface Elements/ImageAssets/TextButton.png
  UI_UX/Interface Elements/ImageAssets/ToggleButton.png
  UI_UX/Interface Elements/ImageAssets/faded-button.png
  UI_UX/Interface Elements/Interface Elements-Types of UI buttons in Figma.md
Labels: documentation, UI/UX

#1082 Frontend With frameworks: What and Why React.js
  Frontend_Web_Development_React_Angular_Vue/React/Week 1/What and Why React.md
Labels: requested changes, React.js, Frontend with framework

#1193 Added Documentation for Loops in Kotlin
  Android_Development_with_Kotlin/02. Basics of Kotlin/02.3 Loops.md
Labels: GWOC21, Android-Dev-Kotlin

#1324 Create 5.9_Kubernetes.md
  Open_Source/Section-5/5.9_Kubernetes.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1318 OpenSource : 2.2 Learn open source basics
  Open_Source/Section-2/2.2_Learn_open_source_basics.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1254 OpenSource : 5.30 Explain everything related to Cloud Native :- Container Networking Interface (CNI)
  Open_Source/Section-5/5.30_Cloud_Native_Container_Networking_Interface_(CNI).md
Labels: documentation, GWOC21, ready to merge, Open Source

#1245 Fixed Self-assign, labeler & issue-watcher
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/keylabeler.yml
  .github/workflows/greetings.yml
  .github/workflows/issue-assign.yml
Labels: documentation

#1157 Classes & Objects in CPP
  C_CPP/Classes & Objects Programming/readme.md
Labels: documentation, C/CPP

#1373 OpenSource: 5.8 Youtube Video links for Beginners
  Open_Source/Section-5/5.8_Youtube_Video_links_for_Beginners.md
Labels: GWOC21, ready to merge, Open Source

#1209 1.1.3.5 Arrays: Range Queries
  DSA/1.1 Arrays/3. Range Queries/1.1.3.5_Suffix_Array.md
Labels: documentation, DSA

#1033 Create 1.2.2.5_Recurrence_Relation_Master_Method.md
  DSA/1.2 Analysis of Algorithms/2. Recurrence Relations/1.2.2.5_Recurrence_Relation_Master_Method.md
Labels: documentation, DSA

#1122 Python: What are Bitwise operators?
  Python/Operators/README.md
  Python/Operators/bitwiseOperator.ipynb
Labels: documentation, Python

#756 Python: 1.4 what is programming language#77.md
  Python/What_Is_Programming_Language/README.md
Labels: Video

#1355 Python: Loops- for loop #556
  Python/Loops-For_Loop/For_Loop.md
Labels: Python, Video

#823 Create [.NET]_Get_started_tutorials.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  dotnet/Program.cs
  dotnet/[.NET]_Get_started_tutorials.md
  dotnet/dotnet.csproj
  dotnet/obj/dotnet.csproj.nuget.dgspec.json
  dotnet/obj/dotnet.csproj.nuget.g.props
  dotnet/obj/dotnet.csproj.nuget.g.targets
  dotnet/obj/project.assets.json
  dotnet/obj/project.nuget.cache
Labels: documentation, GWOC21, .NET, Backend Dev

#1472 Fixed Self-assign, labeler & issue-watcher (#1245)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/keylabeler.yml
  .github/workflows/greetings.yml
  .github/workflows/issue-assign.yml
Labels: documentation, Python, UI/UX, JavaScript, Video, Audio, MERN, DSA, Competitive Programming, C/CPP, Java, Cyber Security, Datascience with Python, Interview Prep, Machine Learning, Statistics, Datascience with R, Open Source, GoLang, Android Dev, Backend Dev, Database, Frontend Dev HTML/CSS/JS, Frontend Dev React/Angular/Vue, Rust

#1203 [Frontend_Web_Development_HTML_CSS_JS] Topic: The DOM
  Web_Development/Javascript/7.The DOM/README.md
  Web_Development/Javascript/7.The DOM/domtree.png
Labels: GWOC21, FrontEnd, Frontend Dev HTML/CSS/JS

#738 Cybersecurity: week_1 folder the issue #82
  Cyber_Security/Week_1/1.9.1_Types of Virtualization - What is Network Virtualization .md
Labels: documentation, GWOC21, Cybersecurity, requested changes, Cyber Security

#1434 Java 1.1: Need of Java #1105
  Java/History/Need Of Java/Need_Of_Java.md
Labels: Audio, Java

#1424 Cyber security
  Cyber_Security/Week_1/1.9.2_Types of Virtualization-What is Virtual Desktop Infrastructure(VDI) .md
Labels: documentation, Cyber Security

#1121 HTML TABLES _ #869
  Web_Development/FrontEnd/HTML_Entities/Readme.md
  Web_Development/FrontEnd/HTML_Tables/Readme.md
  Web_Development/FrontEnd/ReadMe.md
Labels: documentation, UI/UX, JavaScript, Video, Audio, MERN, DSA, Competitive Programming, C/CPP, Cyber Security, Datascience with Python, Interview Prep, Machine Learning, Statistics, Datascience with R, Open Source, GoLang, Android Dev, Backend Dev, Database, Rust

#1459 Cybersecurity: 2.1 IP Addresses
  Cyber_Security/Week_2/2.1_IP_Addresses.md
Labels: documentation, Cyber Security

#815 [JS] Others : Objects
  JavaScript/Topics/5.Syntax/Objects/README.md
Labels: documentation, GWOC21, JavaScript

#1435 Android development with flutter
  Android_Development/Flutter/Flutter_Introduction_Video/Flutter-logo.jpg
  Android_Development/Flutter/Flutter_Introduction_Video/readme.md
Labels: Video, Flutter, Android Dev

#965 [JS] Topic : Conditional Statements in JavaScript
  JavaScript/Topics/5.Syntax/Conditionals/README.md
  JavaScript/Topics/5.Syntax/Conditionals/if else.png
  JavaScript/Topics/5.Syntax/Conditionals/if.png
Labels: GWOC21, JavaScript

#897 [JS] Topic: Execution Context in JavaScript
  JavaScript/Topics/7.Execution_Context/README.md
Labels: GWOC21, JavaScript

#1485 Android development with flutter
  Android_Development/Flutter/Introduction_To_Dart/exercises.md
Labels: documentation, Android Dev

#790 [JS] Other: Functions
  JavaScript/Topics/5.Syntax/6.Functions/2_arguments.png
  JavaScript/Topics/5.Syntax/6.Functions/Function review.png
  JavaScript/Topics/5.Syntax/6.Functions/README.md
  JavaScript/Topics/5.Syntax/6.Functions/anatomy.png
  JavaScript/Topics/5.Syntax/6.Functions/arguments.png
Labels: GWOC21, JavaScript

#1078 [JS] Topic : Template Strings in JavaScript
  JavaScript/Topics/10.Template_Strings/README.md
Labels: GWOC21, JavaScript

#1014 [JS] Topic: create tutorial for JSON
  JavaScript/Topics/8.JSON/README.md
Labels: documentation, GWOC21, JavaScript

#1212 [Frontend_Web_Development_HTML_CSS_JS] Topic: AJAX
  Web_Development/Javascript/9.AJAX/AJAX.png
  Web_Development/Javascript/9.AJAX/README.md
Labels: documentation, GWOC21, FrontEnd, Frontend Dev HTML/CSS/JS

#1304 DSA 1.1.2.4 Array Rotations (Using reversal)
  DSA/1.1 Arrays/1.1.2.4_Array_Rotations_Using_reversal.md
Labels: documentation, DSA

#1550 Frontend With Framework: chore - Week2 folder scaffold added
  Frontend_Web_Development_React_Angular_Vue/Angular/Week 2/Readme.md
  Frontend_Web_Development_React_Angular_Vue/React/Week 2/Readme.md
  Frontend_Web_Development_React_Angular_Vue/Vue/Week 2/Readme.md
Labels: GWOC21, Frontend Dev React/Angular/Vue

#1543 Cybersecurity: 2.5 UDP #736 #1371
  Cyber_Security/Week_2/User Datagram Protocol (UDP).md
Labels: documentation, Cyber Security

#1271 [Frontend]: CSS Box Model
  Web_Development/FrontEnd/CSS_Box_Model.md
Labels: documentation, GWOC21, FrontEnd

#1520 Front End -1:HTML-> Introduction to HTML issue#204
  Web_Development/FrontEnd/Introduction_to_HTML.md
Labels: documentation, GWOC21, FrontEnd, Frontend Dev HTML/CSS/JS

#510 Front_End: Conventions & Best Practices
  Web_Development/FrontEnd/HTML_Conventions_Practices/readme.md
  Web_Development/FrontEnd/ReadMe.md
Labels: documentation, FrontEnd, Frontend Dev HTML/CSS/JS

#1599 Front End -1:HTML-> Introduction to HTML issue#204
  Web_Development/FrontEnd/Introduction_to_Html/ReadMe.md
Labels: documentation, GWOC21, FrontEnd, approved, Frontend Dev HTML/CSS/JS

#1603 Java 1.2: Impact of Java on the Internet #1106
  Java/History/Impact of Java on Internet/Imapct_Of_Java_On_Internet_Audio.md
Labels: Audio, Java

#1186 C/C++ Introduction to Pointers - Fixes #953
  C_CPP/Pointer and its types/Introduction to Pointers/Introduction_to_Pointers.md
  C_CPP/Pointer and its types/readme.md
Labels: documentation, C/CPP

#1595 ML 1.1 : Variables, Range, Population Distribution, Sample Distribution (V) #600
  Machine_Learning/Statistics_for_Machine_Learning/ML_1_1_Variables, Range, Population Distribution, Sample Distribution_(V).md
Labels: GWOC21, Video, requested changes, ML, Machine Learning

#1583 [Frontend_Web_Development_HTML_CSS_JS]: Functions and Scope
  Web_Development/Javascript/1.Functions_And_Scope/README.md
Labels: documentation, JavaScript, FrontEnd, Frontend Dev HTML/CSS/JS

#1605 Hierarchical Inheritance in CPP
  C_CPP/Inheritance and its types or Function overriding/Hierarchical_Inheritance.md
Labels: documentation, C/CPP

#1648 Revert "[Frontend]: CSS Box Model"
  Web_Development/FrontEnd/CSS_Box_Model.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#1591 Cybersecurity: 2.9.1 Router #788
  Cyber_Security/Week_2/Router.md
Labels: documentation, GWOC21, Cybersecurity

#1660 [Frontend]: File Structure of Box_Model
  Web_Development/FrontEnd/CSS_BoxModel/CSS_Box_Model.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#1661 Cybersecurity: 2.9.4 LAN, its advantages and disadvantages #1481
  Cyber_Security/README.md
  Cyber_Security/Week_2/2.9.4_LAN_adv_disadv.md
  Cyber_Security/Week_2/images2/lan-network.png
  Cyber_Security/Week_2/images2/lan.png
Labels: documentation, Cyber Security

#1640 Harbor Explained
  Open_Source/Section-5/5.20_Explain_everything_related_to_Harbor.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1684 C/CPP Install C++ on different OS
  C_CPP/Install C++ on different OS/installation.md
  C_CPP/Pointer and its types/readme.md
Labels: documentation, C/CPP

#709 Front end: CSS Button styling
  Web_Development/FrontEnd/CSS Button Styling/CSS Button Styling.md
Labels: Frontend Dev HTML/CSS/JS

#1163 Constructor and destructor in c++
  C_CPP/Classes & Objects Programming/readme.md
  C_CPP/Constructor & Destructor/Constructor_Destructor.md
Labels: documentation, ready to merge, C/CPP

#1699 CyberSecurity Issue #1672
  Cyber_Security/Week_3/Cybersecurity 3.1 Macro Virus #1672.md
Labels: documentation, Cyber Security

#1721 Open Source : Explain everything about Open Policy Agent
  Open_Source/Section-5/5.24_ Explain_ everything_ related_ to_ Open_ Policy_ Agent.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1738 SETS ,MULTISETS AND UNORDERED SETS IN C++ STL
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/SETS.md
Labels: documentation, C/CPP

#1703 OpenSource : 5.26 Explain everything related to Linkerd
  Open_Source/Section-5/5.26_Explain_everything_related_to_Linkerd.md
Labels: documentation, GWOC21, ready to merge, Open Source

#1700 5.7_Create_Your_Own_Open_Source_Project
  Open_Source/Section-5/5.7_Create_Your_Own_Open_Source_Project.md
Labels: documentation, GWOC21, Open Source

#1689 CPP: Breath First Search (graphs)
  C_CPP/Data Structures/Graphs/BFS notes.md
  C_CPP/Data Structures/Graphs/Breadth First Search.cpp
  C_CPP/Data Structures/Graphs/readme.md
Labels: documentation, ready to merge, C/CPP

#1181 Break and Continue statements used in C/CPP
  C_CPP/break_continue_in_c_cpp.md
  C_CPP/readme.md
Labels: documentation, C/CPP

#1486 add README.md
  Android_Development_With_Java/README.md
Labels: documentation, GWOC21, Android Dev

#1717 Stack implementation #854
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/Stack Implementation/Images/real_life_stack.png
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/Stack Implementation/Images/stack.png
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/Stack Implementation/readme.md
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/Stack Implementation/stack_using_arrays.cpp
  C_CPP/Data Structures/Standard Template Library (Vectors, Maps etc)/Stack Implementation/stack_using_linked_list.cpp
Labels: documentation, C/CPP

#1741 C_CPP: Multilevel Inheritance
  C_CPP/Inheritance and its types or Function overriding/multilevel-inheritance.md
  C_CPP/Inheritance and its types or Function overriding/readme.md
Labels: documentation, C/CPP
