Repository girlscript/winter-of-contributing, pull requests merged in 2021-12, with the labels that each got.

#8859 Create 09.29 SearchView.md
  Android_Development_with_Kotlin/09. Dynamic User Interface/09.29 SearchView.md
Labels: documentation, GWOC21, Android-Dev-Kotlin

#8700 Android-Development-Java 2.1.1 EditText in Android
  Android_Development_With_Java/2  Android UI Widgets/2.1.1 EditText.md
Labels: documentation, GWOC21, Android-Dev-Java

#8808 Android Java: 17.3 Android Chronometer
  Android_Development_With_Java/17 Android Date And Time/17.3 Chronometer.md
Labels: documentation, GWOC21, Android-Dev-Java

#8666 Migrate from ViewPager to ViewPager2
  Android_Development_With_Java/02.16 Migrate from ViewPager to ViewPager2.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8905 Android-Internal-Storage-Example
  Android_Development_With_Java/5  Android storage/5.01: Android-Internal-Storage-Example.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8862 [Android Dev with Java]: Simple Tutorial to check screen orientation using CameraX
  Android_Development_With_Java/10 Android Device/10.2 Simple Tutorial to Check Screen orientation using CameraX.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8873 Android Java: 02.14 TabLayout in Android
  Android_Development_With_Java/2  Android UI Widgets/2.14 TabLayout in Android.md
Labels: documentation, GWOC21, Android-Dev-Java

#8668 Simple compass android app using mobile sensors
  Android_Development_With_Java/11 Android Sensor Tutorial/Simple Precise Compass App.md
  Android_Development_With_Java/9  Android Multimedia/09.02 how to make a video player app in android?.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8880 Android Google Map
  Android_Development_With_Java/15 Android Firebase/15.02: Android-Google-Map.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8800 Dialogs
  Android_Development_With_Java/2  Android UI Widgets/2.1.8: Dialogs.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8775 Create swipe views with tabs using ViewPager2
  Android_Development_With_Java/13.03 Create swipe views with tabs using ViewPager2.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8740 Media streaming using ExoPlayer in android
  Android_Development_With_Java/9  Android Multimedia/09.04 Media streaming using ExoPlayer in android.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8461 12.02 2D graphics in android
  Android_Development_With_Java/12 Android Graphics Tutorial/12.02 2D graphics in android.md
Labels: documentation, GWOC21, Android-Dev-Java, Video

#8827 Android Java: 10.03 Getting Started with CameraX in android.
  Android_Development_With_Java/10 Android Device/10.1 Introduction to CameraX.md
Labels: documentation, GWOC21, Android-Dev-Java

#8511 [Android Dev With Java]:Fragments
  Android_Development_With_Java/16 Android Components/Fragments.md
Labels: documentation, GWOC21, Android-Dev-Java

#8835 Android Kotlin: 14.01 how to use Internal Storage of Android?
  Android_Development_with_Kotlin/14. Storage/14.1 How to Use Internal Storage of Android.md
Labels: documentation, GWOC21, Android-Dev-Kotlin

#8871 BST to Min Heap
  C_CPP/Data Structures/Heap/BSTtominheap.md
  C_CPP/Data Structures/Heap/readme.md
Labels: documentation, GWOC21, C/CPP

#8938 Added Finite Automata Documentation
  DSA/4.3 Pattern Searching Algorithms/5. Finite Automata/Finite Automata.md
Labels: documentation, GWOC21, DSA

#8836 SQL views and indexes
  SQL views and indexes.md
Labels: GWOC21, Database

#8877 Added Infix_to_Prefix_Audio
  DSA/4.1 Stacks/11. Infix to Prefix, Postfix Conversions/4.1.11.1_Infix_to_Prefix_Audio.md
Labels: GWOC21, Audio, DSA

#8934 added Technical Interview Questions-Stack & Queues
  Interview_Preparation/content/Technical Interview Questions - Stack & Queues.md
Labels: documentation, GWOC21, Interview Prep

#8939 Update README.md
  Interview_Preparation/README.md
Labels: GWOC21, Interview Prep

#8863 [JS] Topic: Proxy and reflect
  JavaScript/Topics/DOM/DOM-Tree.jpg
  JavaScript/Topics/DOM/README.md
  JavaScript/Topics/Proxy And Reflect/README.md
Labels: documentation, GWOC21, JavaScript

#8945 Datascience with python: LSTM Artificial Neural Networks + Generative Adversarial Networks
  Datascience_With_Python/Artificial Intelligence/Audios/Generative Adversarial Networks/README.md
  Datascience_With_Python/Artificial Intelligence/Audios/LSTM Artificial Neural Networks/README.md
Labels: GWOC21, DSWP, Audio

#2182 Frontend_Web_Development_HTML_CSS_JS: The DOM Examples
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example1 - Random BG color generator/README.md
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example1 - Random BG color generator/example1.gif
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example2 - Counter/README.md
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example2 - Counter/example2.gif
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/README.md
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/example3.gif
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/amazon1.webp
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/amazon2.webp
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/amazon3.webp
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/grey-t1.webp
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/grey-t2.webp
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/t1.jpg
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/t2.jpg
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example3 - Tab switching/media/t3.jpg
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example4 - Modal/README.md
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example4 - Modal/example4.gif
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example5 - Sort/README.md
  Web_Development/Javascript/7.The DOM/DOM - Examples/Example5 - Sort/sort.gif
  Web_Development/Javascript/7.The DOM/DOM - Examples/README.md
Labels: documentation, Frontend Dev HTML/CSS/JS

#8901 Added Java and Spring annotations file
  Backend_Development_With_Java/Configurations/Java_and_Spring_Annotations.ipynb
Labels: documentation, GWOC21, Backend-Dev-Java

#8936 ML: Study and Implement Research Article
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Dataset/combined_data.csv
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/COVID Positive and Healthy Subjects (1).png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/CoVID_Gender_prop.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/CoVID_Gender_prop_bar.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/CoVID_Gender_prop_bar_with_status.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/CoVID_Status.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/CoVID_Status2.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/Do they have a Normal cough.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/Mean ROC curve for the best performed LSTM classifier.JPG
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/Mean ROC curves.JPG
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/Sequential Forward Selection.JPG
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Images/countrywise_piechart.png
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Implementation/model.py
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Implementation/train.py
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/Implementation/utils.py
  Machine_Learning/Basic_Projects_of_Machine_Learning/CoVID-19 Detection/README.md
Labels: GWOC21, Machine Learning

#8379 Python: Top 10 libraries used in python
  Python/Libraries/Top_10_Python_Libraries_Video.md
Labels: GWOC21, Video

#8948 added dp and greedy standard problems
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/1. fibonacci.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/10. 0-1_knapsnack_problem.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/11. unbounded_knapsnack.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/12. count_binary_strings.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/13. arrange_buildings.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/14. count_encodings.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/15. count_a+b+c_subsequences.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/16. maximum_sum_non-adjacent_elements.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/17. paint_house.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/18. paint_house_many_colors.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/19. paint_fence.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/2. climb_stairs.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/20. tiling_with_2-1_tiles.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/21. tiling_with_m-1_tiles.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/22. friends_pairing.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/23. partition_into_subsets.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/24. buy_and_sells_stock_1_transition_allowed.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/25. buy_and_sell_stock_infinite_transaction_allowed.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/26. buy_and_sell_stocks_with_transaction_fee.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/27. buy_and_sell_stock_with_cooldown_infinite_transaction_allowed.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/28. buy_and_sell_stock_two_transactions_allowed.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/29. buy_sell_stock_k_transactions_allowed.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/3. climb_stairs_with_variables.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/4. climb_stairs_with_minimum_moves.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/5. minumum_cost_in_maze_traversal.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/6. goldmine.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/7. target_sum_subsets.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/8. coin_change_combinations.md
  DSA/6.2 Divide and Conquer, Dynamic Programming/3. Dynamic Programming & Greedy Standard Problems/9. coin_change_permutations.md
Labels: documentation, GWOC21, DSA

#8927 Updated roadmap for Javascript with links
  Web_Development/Javascript/README.MD
Labels: documentation, GWOC21, Frontend Dev HTML/CSS/JS

#8889 Statistics: Skewness #6953
  Statistics/skewness.ipynb
Labels: documentation, GWOC21, Statistics

#8920 Transactions and Injections
  7. SQL Transactions and Injections/i. SQL_Injections.md
  7. SQL Transactions and Injections/ii. SQL_Transactions.md
  8. SQL Views and Indexes/i. SQL_Views.md
  8. SQL Views and Indexes/ii. SQL_Indexes.md
Labels: documentation, GWOC21, Database

#4931 Virtual environment Setup For Django
  Django/Getting_started/Setup_Virtual_Environment_and_install_django/Readme.md
Labels: documentation, GWOC21, Assigned, Backend-Dev-Python

#5813 Added Virtual environment Setup For Django
  Django/Readme.md
Labels: documentation, GWOC21, Assigned, Backend-Dev-Python

#8949 Create Cybersecurity 6.7:Gaining Access.md
  Cyber_Security/Week_6/Cybersecurity 6.7: Gaining Access.md
Labels: documentation, GWOC21, Cyber Security
